[2022-02-02 09:52] philippeckel commented on #1614
@greenbourne277 I'd say you need a [NAT Gateway](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/nat_gateway_v2) and an [EIP](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/vpc_eip_v1) connected to it.

If using the NAT Gateway, be aware to set `spec` as low as possible, because `3` is already getting

[2022-02-02 13:12] greenbourne277 commented on #1614
@philippeckel Thanks, I try that if I don't get it running otherwise. The setup in DE does not have a NAT Gateway. So this shouldn't be the reason why it is not working in NL.

[2022-02-02 16:42] outcatcher commented on #1606
Response from the internal issue about the `random` AZ:
`Such parameter doesn't exist on API and therefore it should not be used. It's only existing in the UI Console.`

[2022-02-02 20:25] reyeliher opened #1618 "Timeout waiting for SSH."
Hello,

I have this problem "Timeout waiting for SSH." when I run a Terraform file.

Any suggestion?

The examples that I have seen coincide with what I have implemented, I don't know where I am going wrong.

Thanks

this is the file of the network security
----------------------------------------------------------------------------------------------------------
[code]
----------------------------

[2022-02-03 12:01] lego963 commented on #1618
@reyeliher that's strange, I used this config to create `compute_instance_v2` and I could connect through `ssh`.

[2022-02-04 13:06] outcatcher opened #1619 "[RDS] Add data source for finding instance backups"
# Description of the enhancement
Testing and correct usage of feature requested in #1456 required additional data source: `opentelekomcloud_rds_backup_v3`

[2022-02-07 14:11] #1619 closed, assigned to nobody

[2022-02-07 15:37] outcatcher opened #1622 "[CCE] Add release note for `initial_node_count` set to zero"
After updating SDK to the latest `devel`, `initial_node_count` for CCE node pool is now possible to set to `0`, this seems to be a noticeable change.

[2022-02-08 07:46] #1622 closed, assigned to nobody

[2022-02-08 09:59] #1456 closed, assigned to outcatcher

[2022-02-08 10:00] outcatcher commented on #1456
Was implemented as `restore_point` argument in `opentelekomcloud_rds_instance_v3` resource.

[2022-02-08 14:08] philippeckel opened #1625 "[IAM] Importing an agency"
Hey,

importing an IAM agency is currently not in the provider. I am very aware of CCE requiring the agency in place :-)

We've create many clusters right now and do not want to manually click the permissions again. We could revoke the agency in IAM manually, use `opentelekomcloud_identity_agency_v3` to create it again with all the projects.

But I am pretty sure that this would "break" CCE for a

[2022-02-09 08:01] lego963 commented on #1625
@philippeckel hiho, we support agency import in current release. Can you try to use it? However, we didn't have this in doc. I will update it.

[2022-02-09 08:13] philippeckel commented on #1625
@lego963 thanks; we will check!

[2022-02-09 08:20] lego963 commented on #1614
@greenbourne277 the only possibility to have outbound traffic in `EU-NL` is to use `NAT` or `Elastic IP`. The problem is not with ELB versions. There is a difference between the two regions. `EU-DE` VPCs has shared SNAT, `EU-NL` hasn't. :(
That's why you can't have outbound traffic with the same infrastructure.

[2022-02-09 09:08] lego963 opened #1627 "[IAM] Implement `identity_agency_v3` data-source"
# Description of the enhancement
We need to have the possibility to query agencies in the project.

`data_source/opentelekomcloud_identity_agencry_v3`

Ref: #1625

[2022-02-09 09:26] #1625 closed, assigned to lego963

[2022-02-09 13:31] greenbourne277 opened #1628 "Snat Rule Type error"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_nat_snat_rule_v2

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

1. The documentation states that the type is an Integer.
2. If it is a string, the snat rule should not be created.

# Actual Behavior

1. The type error occur

[2022-02-09 20:37] 5RK7N opened #1630 "Typo in API request for creating ELB in eu-nl region"
# Terraform provider version
Terraform v1.0.4
on linux_amd64
+ provider registry.terraform.io/hashicorp/helm v2.2.0
+ provider registry.terraform.io/hashicorp/kubernetes v2.3.2
+ provider registry.terraform.io/hashicorp/null v3.1.0
+ provider registry.terraform.io/hashicorp/time v0.7.2
+ provider registry.terraform.io/hashicorp/vault v2.23.0
+ provider registry.terraform.io/opentelekomcloud/opente

[2022-02-10 08:56] lego963 commented on #1630
Already done in: https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1617

PS:
We **don't recommend** using ELBv2 in EU-NL. Please use ELBv3.

[2022-02-10 08:56] #1630 closed, assigned to nobody

[2022-02-10 09:13] #1628 closed, assigned to lego963

[2022-02-17 15:10] DanielHabenicht commented on #1231
@lego963 how is it progressing? (I can't see the issue tracker)
cc @pbckr

[2022-02-18 13:57] canaykin commented on #1616
@lego963 Sorry for the late reply. I have written the reply but apparently forgot to press send before going away for 2 weeks. Here is my original answer from 3rd of February that I forgot to send:

Came up with the same solution myself this morning. And it works without issues. :+1:

Problem is solved for me but it may still be nice to add the create_before_destroy behavior by default or add it t

[2022-02-18 15:05] lego963 commented on #1616
@canaykin we will update doc :)

[2022-02-18 15:11] lego963 commented on #1231
@DanielHabenicht there is no progress ... We are still waiting for a response.

[2022-02-24 08:29] #1627 closed, assigned to outcatcher

[2022-02-24 10:02] #1616 closed, assigned to nobody

[2022-02-28 15:11] canaykin opened #1633 "opentelekomcloud_identity_project_v3 data source to return provider's project by default"
# Description of the enhancement
Greetings,
While working on a reusable CCE module today I required to obtain the `project_id` of the provider configuration. This made me notice that a blank data source call to project is not possible to obtain "current project" of the provider.

I believe it would be beneficial to use an empty data call to return the project attributes of the provider's project c

[2022-02-28 16:30] outcatcher opened #1634 "[CSS] Add tags support for the cluster"
# Description of the enhancement
Per the documentation, https://docs.otc.t-systems.com/api/css/css_03_0019.html, tags can be assigned to the CSS cluster, but this feature is missing in the provider.

[2022-02-28 16:54] generalpax opened #1635 "error creating network-sg with gitlab-ci"
# Terraform provider version

-  "terraform_version": "1.1.4",
- Installed opentelekomcloud/opentelekomcloud v1.27.6 (self-signed, key ID 3EDA0171114F71DF)

# Affected Resource(s)

Please list the resources as a list, for example:
- opentelekomcloud_compute_instance_v2
- opentelekomcloud_networking_secgroup_v2
- opentelekomcloud_compute_keypair_v2
- opentelekomcloud_vpc_subnet_v1
- opentelekomclou

[2022-03-01 07:43] outcatcher commented on #1635
@generalpax Can you check the general availability of `eu-ch2` endpoints from the GitLab pipeline?

[2022-03-01 12:19] chrkaatz commented on #1227
I have a similar issue, If I add the add-on from the UI, there is no Problem but from terraform it goes into the abnormal state with the following error:

[2022-03-02 09:40] outcatcher opened #1637 "[CSS] Error creating CSS cluster"
# Terraform provider version
Latest `devel`

# Affected Resource(s)

- `opentelekomcloud_css_cluster_v1`

# Debug Output/Panic Output
[code]

# Steps to Reproduce

1. `terraform apply`

[2022-03-02 10:29] #1637 closed, assigned to outcatcher

[2022-03-02 13:44] #1634 closed, assigned to outcatcher

[2022-03-03 08:56] pwurbs opened #1640 "Creation of ECS with encrypted system disk fails with EVS.2044 and Ecs.0025"
# Terraform provider version
v1.27.6

# Affected Resource(s)
- opentelekomcloud_kms_key_v1
- opentelekomcloud_ecs_instance_v1

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]
# Steps to Reproduce
0. Have a fresh OTC project without an resources
1. apply KMS resource, take the KMS id
2. apply ECS resource with the KMS id

# Expected Behavior
ECS resource is able to access

[2022-03-03 09:50] pwurbs commented on #1640
When I try to create an ECS with encrypted system disk manually in OTC, then I spotted a configuration option
"Xrole NameEVSAccessKMS"
I am not sure if this is new.
![image](https://user-images.githubusercontent.com/38912613/156540208-1122d11c-bd93-4b1c-a7f1-9387ea8597ef.png)

So, obviously this role must be created. Now it's the question if the Terraform resource provider should do that or if I h

[2022-03-03 10:07] pwurbs commented on #1640
I found this aditional hint in OTC doc:
When the encryption function is used for the first time ever, the KMS access rights need to be granted to EVS. After the KMS access rights have been granted, all users in this region can use the encryption function, without requiring the KMS access rights to be granted again.

So, I created one ECS manually including Xrole.
This seems to create the general t

[2022-03-03 10:08] outcatcher commented on #1640
It sounds like some kind of API change, I will raise an internal incident for that.

[2022-03-03 14:06] lego963 commented on #1640
@pwurbs, you meet this issue, because if project is newly created you will have to grant permissions between services. Here I would like to suggest a solution. Can you try to use this block of code? You can face with this issue in [CCE service](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/cce_cluster_v3#creating-agency)
[code]

PS: This grants you

[2022-03-03 14:24] pwurbs commented on #1640
@lego963 I faced that issue just creating ECS instances (without CCE relation).
To be honest, I don't know what this TF manifest does. And I don't have TF manifests for initial project setup. So I would rather stick to setup the permission by creating a foo ECS manually. ;)

[2022-03-03 14:39] lego963 commented on #1640
@pwurbs CCE is just example with the same issue.

[2022-03-04 14:13] kgeroczi opened #1641 "IAM - Identity Provider creation Forbidden"
Hello,

I'm trying to create a new IdP via Terraform, but just getting Forbidden messages.

# Terraform provider version
- Installed opentelekomcloud/opentelekomcloud v1.27.6 (self-signed, key ID 3EDA0171114F71DF)

# Affected Resource(s)
- opentelekomcloud_identity_provider_v3
- opentelekomcloud_identity_mapping_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Step

[2022-03-04 15:06] chrkaatz commented on #1513
Hey @outcatcher - I looked at the database specific provider but no option no create users.

@greenbourne277 did you find a solution to this?

[2022-03-04 15:20] outcatcher commented on #1513
@chrkaatz
I suppose, if you take postgresql, respective resource is [postgresql_role](https://registry.terraform.io/providers/cyrilgdn/postgresql/latest/docs/resources/postgresql_role).

[2022-03-04 15:50] bill831231 opened #1642 "sounds like for LB, there is a special EIP type"
in the example of EIP, there is a special case for LB, seems the type should be 5_gray instead of 5_bgp

https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/9dfd5df90937c0320d78cc226eddc4328c114295/examples/basic-examples/modules/eip/main.tf

resource "opentelekomcloud_vpc_eip_v1" "eip_lb" {
  publicip {
    type = "**5_bgp**"
  }
  bandwidth {
    name        = "${var.bw_

[2022-03-04 18:14] bill831231 opened #1643 "resource EIP issue"
# Terraform provider version

# Affected Resource(s)

# Terraform Configuration Files
[code]
# Create an Elastic Cloud Server resource
[code]

# Debug Output/Panic Output

the deployment is successful, and use openstack sdk to check the result
the floating ip is also successfully binding to the nics, but this EIP is not reachable
after unbind and rebind the same EIP to the same NIC, this EIP is re

[2022-03-04 19:13] chrkaatz commented on #1513
I will try that, thx

[2022-03-04 20:19] chrkaatz opened #1644 "[CCE] kubeconfig as an output attribute"
# Description of the enhancement

It would be handy to have the possibility to safe a given kubeconfig during cluster creation as an output, that it could be used for further process automation like kubectl.

[2022-03-05 08:48] lego963 commented on #1643
@bill831231 did you try to wait sometime after the infrastructure is created?

[2022-03-05 09:05] bill831231 commented on #1643
Hi Rodion,

Thanks a lot for your quick response
Yes, yesterday, in the first round trouble shooting, I kept testing it in
30-45 minutes :)

Mit freundlichen Grüßen
Wu,Peng

Rodion Gyrbu ***@***.***> 于2022年3月5日周六 09:48写道：

[2022-03-05 09:32] lego963 commented on #1643
@bill831231 can you share full tf config? What region do you use?

[2022-03-05 11:02] bill831231 commented on #1643
[code]
Mit freundlichen Grüßen
Wu,Peng

Rodion Gyrbu ***@***.***> 于2022年3月5日周六 10:32写道：

[2022-03-07 08:54] philippeckel commented on #1644
@chrkaatz it's already in the provider, but just in parts and you have to build a `kubeconfig` yourself.

See the attributes reference [here](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/cce_cluster_v3#certificate_clusters/name).

We're using [Jsonnet](https://jsonnet.org/) and some scripting to build a `kubeconfig` ourselves via this template:

[

[2022-03-08 10:18] canaykin opened #1645 "opentelekomcloud_lb_loadbalancer_v3 is not functioning on any region"
# Terraform provider version
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.6

# Affected Resource(s)
- opentelekomcloud_lb_loadbalancer_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. add  `opentelekomcloud_lb_loadbalancer_v3` resource
1. `terraform apply`

# Important Factoids
- The problem exists for both eu-nl and

[2022-03-10 11:14] outcatcher opened #1647 "[ELB] Support SSL passthrough for v2 LBs"
# Description of the enhancement
SSL passthrough is now available and should be supported by the provider

[2022-03-10 11:42] #1642 closed, assigned to outcatcher

[2022-03-10 13:25] outcatcher commented on #1645
@canaykin I've tried to reproduce it, but it's broken currently only of `eu-de`. It's missing from service endpoint catalog in that region.

[2022-03-10 17:00] canaykin commented on #1645
@outcatcher You are correct, it was a bug in my code which made it fall back to default provider configuration at `eu-de` rather than using `eu-nl`. I can confirm that `eu-nl` works as expected.

[2022-03-10 17:09] outcatcher commented on #1645
We will update service catalog for that. This is not bind to the provider milestone ― I will close this issue when service catalog will be updated.

[2022-03-11 07:45] #1647 closed, assigned to outcatcher

[2022-03-11 10:47] lego963 commented on #1644
Implemented here https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1649

[2022-03-11 10:47] #1644 closed, assigned to lego963

[2022-03-11 11:54] #1618 closed, assigned to nobody

[2022-03-11 13:23] canaykin opened #1650 "WAF Domain and Policy association is broken"
# Terraform provider version
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.6

# Affected Resource(s)
- opentelekomcloud_waf_domain_v1
- opentelekomcloud_waf_policy_v1

# Terraform Configuration Files
- Binding on the domain side:
[code]

- Alternatively, binding on the policy side::

[code]

# Debug Output/Panic Output

[code]

# Expected Behavior
The relation between doma

[2022-03-11 13:59] outcatcher commented on #1650
I suppose, we should add new `associate` resource for that, same as for other resource.

[2022-03-11 14:48] canaykin opened #1651 "WAF ip rules are lost on next apply"
# Terraform provider version
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.6

# Affected Resource(s)
- opentelekomcloud_waf_whiteblackip_rule_v1

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
Upon subsequent applies:
[code]
And if apply is resumed terraform will try to recreate the existing rule resulting in:
[code]

# Steps to Reproduce

1. Create a

[2022-03-11 15:05] canaykin opened #1652 "opentelekomcloud_waf_ccattackprotection_rule_v1 resource is broken"
# Terraform provider version
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.6

# Affected Resource(s)
- opentelekomcloud_waf_ccattackprotection_rule_v1

# Terraform Configuration Files
[code]
Also tried the following with the same result:
- `  url          = "somepath"`
- `  url          = "http://<waf_domain_name>/somepath"`
- `  url          = "https://<waf_domain_name>/s

[2022-03-15 10:06] outcatcher commented on #1645
@canaykin

Endpoint added to the service catalog:
[code]

Acceptance tests for LB creation passes:
[code]
Please note that it's recommended to use `5_gray` EIPs for the v3 load balancers in `eu-de` region.
Also, for some reason creation of ELBv3 within `eu-de-03` zone fails with message `"Cannot allocate resource for the loadbalancer."`, this zone is also unavailable for LB creation on the console

[2022-03-15 10:06] #1645 closed, assigned to outcatcher

[2022-03-15 13:30] outcatcher commented on #1651
Closed by mistake

[2022-03-15 14:54] #1651 closed, assigned to outcatcher

[2022-03-16 11:54] kgeroczi commented on #1641
Any update?

[2022-03-16 14:51] outcatcher opened #1655 "WAF: Import issues"
# Description of the enhancement
Current implementation of import in different WAF rules resources seems to be broken: `policy_id` should be part of the imported ID, but `ImportStatePassthroughContext` is used.

- [x] PP rule (#1658)
- [ ] web tamper rule (#1664)
- [ ] white/black IP rule (#1664)
- [ ] false alarm masking rule (#1664)

[2022-03-16 16:26] mrgasparov opened #1657 "CSS cluster creation fails with "Resource not found""
# Terraform provider version

registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.7

# Affected Resource(s)

opentelekomcloud_css_cluster_v1

# Terraform Configuration Files
[code]
I'm omitting other dependents/dependencies because I don't think they are relevant for this particular issue.

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavi

[2022-03-16 18:38] #1652 closed, assigned to outcatcher

[2022-03-17 08:08] mrgasparov commented on #1657
Hi @outcatcher thanks for adding this issue to the `v1.27.9` milestone. In the meantime, is there any workaround to this issue that we can use in order to create a CSS cluster?

[2022-03-17 08:11] outcatcher commented on #1657
@mrgasparov I will check the issue today, and include in today's release, if possible :)

[2022-03-17 09:42] outcatcher commented on #1657
@mrgasparov
I've started with running acceptance tests we have and they seems to be passing.
The following configuration is used:
[code]

Can you provide the POST request body? You can find it in logs running Terraform with env vars `TF_LOG=DEBUG OS_DEBUG=1`.

I will continue to investigate it further, but it's clear that it's working for some configurations at least.

[2022-03-17 10:40] nfelger commented on #1227
@chrkaatz I had this problem too. Turns out that you need to set the `tenant_id` to the project id of the region you're deploying into. This worked for me:

[code]

@lego963 @outcatcher I only learned this by trial & error. Might be a good idea to document these options [in the addon documentation](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/devel/opentelekomcloud/

[2022-03-17 10:41] nfelger commented on #1227
For any others coming to this issue: at some point auto scaling also failed because we ran into Quota limits. Another thing worth cecking…

[2022-03-17 12:18] outcatcher commented on #1657
@mrgasparov I wasn't able to reproduce it with my data. Can you check, if all resources used by the CCS cluster exist?
`{"errCode":"CSS.0016","externalMessage":"CSS.0016 : Resource not found!"}` seems like some dependency is not existing.

[2022-03-17 12:23] mrgasparov commented on #1657
Hi @outcatcher i got a reply from OTC saying there was an issue with the CSS backend which is fixed now, so I'm closing this ticket. Thanks a lot for your quick reply!

[2022-03-17 12:23] #1657 closed, assigned to outcatcher

[2022-03-17 14:31] nfelger opened #1659 "Tagging of opentelekomcloud_nat_gateway_v2"
# Terraform provider version
v1.27.7

# Affected Resource(s)
- opentelekomcloud_nat_gateway_v2

It seems I can tag NAT Gateways through the console but not via Terraform. Are there plans to support this? IMO, all resources that generate significant costs should be taggable for cost tracking in the financial dashboard.

[2022-03-18 07:46] lego963 commented on #1659
@nfelger hiho,
We don't have API for tags :(
I can ask responsible squad about this feature.

[2022-03-18 08:08] lego963 commented on #1659
@nfelger we've found a solution and we will implement in the `1.27.9` release

[2022-03-18 08:22] nfelger commented on #1659
Fantastic news! Thank you 😊

[2022-03-18 08:22] outcatcher opened #1662 "[WAF] WebTamperProtect rule fails to create"
In the `devel` acceptance tests:
[code]

[2022-03-18 08:33] pwurbs opened #1663 "Documentation for transparent_client_ip_enable for opentelekomcloud_lb_listener_v2 in contradiction to OTC UI behavior"
The provider version v1.27.7 added a new argument which supports the new ELB parameter "Obtain Client IP Address"

[ELB] Add SSL passthrough for lbv2 listener

In OTC UI the feature can be activated also for TCP listeners, but the resource documentation for "opentelekomcloud_lb_listener_v2" is as follows:
[transparent_client_ip_enable]
(Optional) Specifies whether to pass source IP addresses of th

[2022-03-18 09:46] outcatcher commented on #1663
SSL passthrough is always enabled for:

1. Dedicated Load Balancers (this is only v3 in case of `eu-de` region)
2. HTTP and HTTPS listeners

And it **CAN** be activated for TCP and UDP listeners on Shared Load Balancer. Just as  written in previous statement of the documentation: `The value can be true or false, and the default value is false for TCP and UDP listeners.`.

I suppose, the `The value

[2022-03-18 09:48] pwurbs commented on #1663
Yes only "The value can only be true for HTTP and HTTPS listeners." is misunderstandable.

[2022-03-18 12:37] #1655 closed, assigned to outcatcher

[2022-03-18 12:37] #1662 closed, assigned to outcatcher

[2022-03-21 10:29] #1663 closed, assigned to outcatcher

[2022-03-21 11:00] bill831231 commented on #1643
got any update?
I have tested this situation multiple times last week, seems the issue is 100% reproducible.

[2022-03-21 13:46] outcatcher commented on #1650
@canaykin
After some investigation:

1. The API we have allows only adding domain to the policy (https://docs.otc.t-systems.com/api/waf/waf_02_0032.html). There is no removal at all.
2. When you adding domain to another policy, it's being reassigned. That's the only way besides deletion to remove domain from a policy.
3. Passing empty domain list to our API it doesn't change anything (so the logic

[2022-03-22 07:57] outcatcher commented on #1650
@canaykin Will it be okay for you if setting `policy_id` in domain will be the only valid way? It's easier to track orphan policies like that.

[2022-03-22 09:39] canaykin commented on #1650
@outcatcher I believe it makes sense. The only addition I would love to have to that is the deletion of the autocreated default policy if `policy_id` is specified during domain creation.

By default the new domain creation always causes a new default policy creation (where the domain creation API call returns the policy id). Perhaps the overhauling can include the change to automatically make a de

[2022-03-22 09:44] outcatcher commented on #1650
@canaykin Okay, no problem :+1:

[2022-03-22 12:24] #1650 closed, assigned to outcatcher

[2022-03-22 12:33] lego963 commented on #1643
@bill831231, the problem is that you didn't specify `fixed_ip`. In my case `associate` resource connected to secondary NIC. Console by default offers you primary NIC when you associate. If you add `fixed_ip` it will be ok. :)
[code]

[2022-03-22 14:59] lego963 opened #1670 "[ECS] Empty `port_id` in `compute_instance_v2`"
# Description of the enhancement
We should fill `network.*.port` with `port_id` value, currently it's empty

[2022-03-22 15:07] #1659 closed, assigned to lego963

[2022-03-22 15:17] outcatcher commented on #1641
Sorry for a long response. Currently under investigation.

[2022-03-22 21:29] eumel8 opened #1671 "Too many requests have been sent in a given amount of time. Pause requests, wait up to one minute, and try again."
# Terraform provider version

% terraform -v
Terraform v1.1.3
on darwin_arm64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.27.2

# Affected Resource(s)

data.opentelekomcloud_images_image_v2.image-1
data.opentelekomcloud_images_image_v2.image-2
opentelekomcloud_compute_floatingip_associate_v2.wireguard[0]
opentelekomcloud_compute_instance_v2.k3s-server-1
opentelekomcloud_c

[2022-03-23 10:07] outcatcher commented on #1671
It seems like a WAF throttling threshold, by default it should be 200 RPS, but depends on the service.
Terraform provider creates quite a lot of requests due to independence of authentication in resources (basically we issue the token quite often, at least once per resource). We should investigate how can we change that behaviour, but this will take time.

As a workaround we can add retires for th

[2022-03-23 10:10] outcatcher commented on #1671
Also, maybe some higher parallelism will work? Like 3 or 5?

[2022-03-23 13:49] bill831231 commented on #1643
Hi Rodion,

Thanks a lot for this solution, just verify it, and it is working
May I ask just one more question, and I am not sure if it is expected
seems the terraform will somehow binding the floating IP to the
secondary NIC, but our platform somehow willing to binding to the first NIC
shall we align this behavior?

Mit freundlichen Grüßen
Wu,Peng

Rodion Gyrbu ***@***.***> 于2022年3月22日周二 13:33写道：

[2022-03-23 14:11] lego963 commented on #1643
@bill831231 console works a bit different than API.

PS: Compute API for binding floating IPs is deprecated in helpcenter doc. I would suggest you use networking associate resource. Currently `compute_instance` doesn't return nics port in `network` section. We will update resource, because it's a bug from our pov.

[2022-03-23 15:18] vladimirvshivkov commented on #1633
resolved in https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1665

[2022-03-23 15:18] #1633 closed, assigned to vladimirvshivkov

[2022-03-23 18:42] eumel8 commented on #1671
thx @outcatcher for the reply. Yeah, that's a pretty new  behavior so something was changed on OTC. I think workarounds are enough available for  the moment and now comes the really work ;-)
Maybe a queuing of token requests might be a way for extend functionality. In fact for the mix of resources I use different service endpoints, so this can't be overloaded in a manner of using one API for all s

[2022-03-23 19:16] outcatcher commented on #1671
We already done some steps to decrease client creation reusing existing client where possible even without thinking about potential throttling problem. Though it was done as part of common refactoring we do when making improvements or bug fixes, not as a standalone task. If possible, can you please attach you full configuration so we will be able to use it as a benchmark :smile:

I've also created

[2022-03-24 07:58] eumel8 commented on #1671
The full configuration is here:https://github.com/eumel8/tf-k3s-otc
The full set deploy 3 ECS while 2 are behind an ELB with 3 listener. It breaks very often on the same resource:

[code]

No addional information in DEBUG/TRACE which headed me to the IAM endpoint and the token thing. This is not covered by OS_DEBUG log in [gophertelekomcloud](https://github.com/opentelekomcloud/gophertelekomcloud/

[2022-03-24 08:57] outcatcher commented on #1437
Already done

[2022-03-24 09:11] outcatcher commented on #1671
@eumel8 That's a good point, I see at least one potential problem at LB member creation that can lead to "too many requests"

[2022-03-24 09:38] outcatcher commented on #1437
Correction: but not the way it was expected

[2022-03-24 09:43] outcatcher commented on #1437
Requires https://github.com/opentelekomcloud-infra/zuul-project-config/issues/28

[2022-03-24 14:45] mazw77 opened #1673 "Creating v3 loadbalancer fails with "API not found""
# Terraform provider version
Terraform v1.1.7
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.28.1

# Affected Resource(s)
- opentelekomcloud_lb_loadbalancer_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
│ Error: error creating LoadBalancerV3: Resource not found: [POST https://elb.eu-de.otc.t-systems.com/v3/f13df91e2b6a46b4af1987181569

[2022-03-24 14:59] outcatcher commented on #1673
@mazw77 I wasn't able to reproduce it.

Can you please show the output of the following commands:
[code]

[2022-03-24 15:06] mazw77 commented on #1673
nslookup gives me some T-Systems internal IPs with 10.x.x.x.
I do not like to post this internal information here.
Please contact me T-Systems internally, see WebEx chat.

[2022-03-24 15:29] mazw77 commented on #1673
OK. I had to overwrite /etc/hosts with above public IP address.
Then the request is working.

[2022-03-24 15:29] #1673 closed, assigned to nobody

[2022-03-24 16:00] outcatcher commented on #1673
@mazw77 It's common problem when using internal T-Sys VPNs :smile: they have problems with DNS servers.

[2022-03-25 08:18] outcatcher opened #1674 "[Provider] Implement in-provider FQDN resolution"
# Description of the enhancement
When using the provider with some VPN, it's a common problem to get DNS-related issues, e.g. #1673, #1499, #1468

Proposed solution: resolve FQDN inside of the provider. To avoid certain firewall restrictions it makes sense to use DoH, e.g. [google DoH](https://developers.google.com/speed/public-dns/docs/doh)

[2022-03-25 11:13] mazw77 opened #1675 "lb_loadbalancer_v3.md example for "public ip" is missing mandatory field "bandwidth_name""
lb_loadbalancer_v3.md example for "public ip" is missing mandatory field "bandwidth_name".

According to argument references:
bandwidth_name - (**Required**) Bandwidth name.

[2022-03-25 11:20] mazw77 opened #1676 "Creating opentelekomcloud_lb_listener_v3 with protocol "TCP" fails"
# Terraform provider version
[code]

# Affected Resource(s)
opentelekomcloud_lb_listener_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
Create HTTP listener
then change config to "TCP" listener
Update infrastructure with `terraform apply`

# Expected Behavior
HTTP listener should be changed to TCP listener

# Actual Behavior
above error occurs

[2022-03-25 13:18] #1676 closed, assigned to outcatcher

[2022-03-25 14:29] kocsvin commented on #1160
I am running into same issue,  I am creating kms_key_v1 and passing its id to obs_bucket , and I get Error: error setting bucket encryption: ... Resources are created but default encryption is not enabled. I am getting the same error when I do terraform destroy , and resources are not being destroyed

[2022-03-25 16:08] outcatcher commented on #1671
Fixes for ELB member will be a part of v1.28.2 release today

[2022-03-26 11:15] ebal opened #1679 "In block_device use image-name instead of image-id"
When the latest image is being updated in OTC (eg. Standard_Ubuntu_20.04_latest) , the image-id of the image changes to the new image id (as it should).

In the block-device section, I see only the image-id reference - thus making the above change to break tf plan, first destroy previous image and then failing to create the new one.

I was wondering if it is possible to use image-name in the block

[2022-03-26 11:25] lego963 commented on #1679
@ebal, as a temporary solution you can use `ignore_changes` block
https://www.terraform.io/language/meta-arguments/lifecycle#ignore_changes

[2022-03-26 11:34] ebal commented on #1679
@lego963 I'll try it, thanks.

It would be great though to use reference names instead of hard-copied uuid in tf files.

[2022-03-26 11:44] lego963 commented on #1679
@ebal you can use image data_source in order to forget about hard-copy :)
https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/data-sources/images_image_v2

[2022-03-26 12:57] ebal commented on #1679
Very nice tip. Thanks worked :+1:

[2022-03-28 09:11] outcatcher opened #1680 "Make acceptance periodic"
# Description of the enhancement
Issues can be produced not only by errors in the provider, but also with obscure changes in the API. Periodic acceptance will be able to control that.

[2022-03-28 12:51] eumel8 commented on #1671
@outcatcher tested multiple times and works now without any errors.  many thanks, we might be close the ticket

[2022-03-28 13:03] outcatcher commented on #1671
@eumel8 It should fail though if you increase number of the used resources, I suppose :slightly_smiling_face:  Fell free to comment here I you will face throttling again, or just create a new issue.

[2022-03-28 13:03] #1671 closed, assigned to nobody

[2022-03-28 13:53] ebal opened #1683 "How to import opentelekomcloud_lb_member_v2 ?"
Hi,

I am not sure if this is the correct place to ask this question so plz excuse me if not. I am trying to import a current OTC infra to a local state and seems that I can not import the opentelekomcloud_lb_member_v2 resources. Is there a way or a workaround ?

[code]

thanks in advance.

[2022-03-28 13:56] outcatcher commented on #1683
This functionality to be added

[2022-03-28 14:08] ebal commented on #1683
okay, thank you

[2022-03-28 17:14] #1683 closed, assigned to outcatcher

[2022-03-29 12:54] #1160 closed, assigned to outcatcher

[2022-03-29 13:27] ebal commented on #1679
The data source of opentelekomcloud_images_image_v2 is working for me. if you feel this feature request does not provide any further value, feel free to close this ticket. I am pretty happy with the image data source.

[2022-03-29 14:16] lego963 commented on #1679
@ebal thanks for response. If you have any additional questions, feel free to ask :)

[2022-03-29 14:16] #1679 closed, assigned to nobody

[2022-03-29 21:38] #1670 closed, assigned to outcatcher

[2022-03-30 12:11] #1607 closed, assigned to outcatcher

[2022-03-30 15:17] xopher-mc commented on #1338
Issue still occurs!!

`
│ Error: Bad request with: [POST https://nat.eu-de.otc.t-systems.com/v2.0/dnat_rules], error message: {"NeutronError": {"type": "DnatRuleInValidPortID", "detail": "", "message": "Port f2237c68-695b-4014-bc60-a7d567611fa4 is not a valid port."}}
│
│   with opentelekomcloud_nat_dnat_rule_v2.dnat_1,
│   on main.tf line 114, in resource "opentelekomcloud_nat_dnat_rule_v2" "dnat

[2022-03-30 19:49] lego963 commented on #1338
@xopher-mc can you attach here your tf config?

[2022-03-31 09:41] xopher-mc commented on #1338
I've removed the 'secret info'
[tfcodednatrule.zip](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/files/8388072/tfcodednatrule.zip)

[2022-03-31 10:13] ebal opened #1688 "Get the id of opentelekomcloud_vpc_eip_v1"
Hi,

I am trying to get the **id** of an Elastic-IP using the data resource `opentelekomcloud_vpc_eip_v1`.

From the [documentation ](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/data-sources/vpc_eip_v1), I understand that I can use as argument reference the public_ip_address but from testing only the id is working.

I've tried as a working around to use op

[2022-03-31 14:12] #1338 closed, assigned to outcatcher

[2022-04-01 08:30] mele78 opened #1691 "lb member weight can not be set to 0 via Terraform"
# Terraform Version
Terraform v1.0.8
on linux_amd64
# Provider Version
1.28.2
# Affected Resource(s)
opentelekomcloud_lb_member_v2
# Configuration
## Module call
[code]
## Configuration inside the module
[code]
# Error message

Changing a member weight with Terraform to 0 gives an error:
[code]
# Problem description
Setting the weight to 0 in the web application is possible without problems. But w

[2022-04-01 10:35] CHS-OTC opened #1692 "ELBv3 Listener replacing default_pool_id with null"
Hi,

there is a difference in behaviour between ELBv2 and ELBv3 in regards to backend groups in the listeners.

If a listener is created via TF without backend server group and assigning an backend server group afterwards via GUI, there is no issue with ELBv2. But with ELBv3 it tries to replace the value "default_pool_id" with null.

This can also be replicated by first assigning a default_pool_id

[2022-04-01 10:51] #1688 closed, assigned to outcatcher

[2022-04-01 15:14] #1691 closed, assigned to nobody

[2022-04-04 07:22] philippeckel opened #1694 "[CCE] Support for new "CCE Turbo Cluster""
Hi all,

OTC recently announced the beta release of the so called "CCE Turbo Cluster" with some interesting improvements. The API apparently supports it already; see table 5 at [1].

HuaweiCloud provider apparently already has it too; see [2].

Even if it's beta, it would be great to have this in Terraform.

Thanks!

[0] https://open-telekom-cloud.com/en/support/release-notes/cloud-container-engin

[2022-04-04 15:09] #1640 closed, assigned to nobody

[2022-04-04 20:20] philippeckel commented on #1589
Working now; therefore closing the issue.

[2022-04-04 20:20] #1589 closed, assigned to nobody

[2022-04-05 15:07] #1510 closed, assigned to vladimirvshivkov

[2022-04-06 09:50] kgeroczi commented on #1641
Hello,

It seems we found out the problem.

After getting a different error message for an other Identity v3 resource we were realised that we have to use domain_name in the provider configuration. (https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs#domain_name):
(Optional) The Name of the Domain to scope to (Identity v3).

Since it was just Optional it was not c

[2022-04-06 15:31] simonszu opened #1700 "How to bind EIPs to ELBs"
After an ELB is created in the console, it is possible to bind an External IP to that instance so that requests from the internet to that IP address are load balanced to the various services. I am unable to find any documentation how to do that in terraform. Is that even possible?

If this is not possible by design, i could need some information how i should load balance between several CCE router

[2022-04-07 09:05] kocsvin opened #1701 "Creating opentelekomcloud_obs_bucket fails with error"
# Terraform provider version

Terraform v1.1.7
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.29.0

# Affected Resource(s)

opentelekomcloud_obs_bucket

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior
obs bucket resource is created without error

# Actual Behavior
process ends

[2022-04-08 11:43] outcatcher commented on #1700
Sorry for the late response. If I've understood you correctly, you need `opentelekomcloud_lb_member_v3` resource.

Example of the  `opentelekomcloud_lb_member_v3` usage:
https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/lb_member_v3#example-usage

Example of ELBv3 with floating IP:
https://registry.terraform.io/providers/opentelekomcloud/opentelekomclo

[2022-04-08 11:47] outcatcher commented on #1701
After clarification: seems to be related to #1674

[2022-04-08 11:58] outcatcher commented on #1692
@CHS-OTC  for some reason I wasn't able to reproduce the issue, can you please try it again?

[2022-04-08 12:01] outcatcher commented on #1641
@kgeroczi Domain ID/Name is optional in terms of the provider configuration (it can be empty and still work, e.g. taking configurations from `clouds.yaml`).
We need to add this validation on our side to avoid such obscure issues.

[2022-04-08 12:33] #1675 closed, assigned to nobody

[2022-04-12 11:02] #1694 closed, assigned to nobody

[2022-04-13 07:45] simonszu commented on #1700
I managed it. Thanks.

[2022-04-13 07:45] #1700 closed, assigned to nobody

[2022-04-13 19:41] outcatcher commented on #1692
@CHS-OTC please comment if it still reproduces, closing for now

[2022-04-15 10:18] kbechler opened #1703 ""masters" attribute is always empty for opentelekomcloud_dns_zone_v2 public zone"
# Terraform provider version
`Terraform v1.1.7`

# Affected Resource(s)
`opentelekomcloud_dns_zone_v2`

# Terraform Configuration Files
[code]

# Steps to Reproduce
`terraform apply`

# Expected Behavior
I should see a list of NS servers for newly created zone

# What actually happened?
Empty output:
`
masters = toset([])
`

# Important Factoids
API allows getting name servers for a public zone:

[2022-04-15 10:35] lego963 commented on #1703
@kbechler as I can see description in hc doc
[code]
`nameserver` is another attribute

[2022-04-15 11:30] outcatcher commented on #1703
I suppose, as there is `masters` attribute in API documentation (not working), it's better to use `name_servers` attribute or dedicated data source for getting list of the name servers for the zone with the following API: https://docs.otc.t-systems.com/en-us/api/dns/dns_api_62004.html

[2022-04-18 07:46] #1614 closed, assigned to nobody

[2022-04-18 10:31] outcatcher commented on #1674
Current implementation of Go http resolver don't allow overriding system configuration on Windows: https://github.com/golang/go/issues/33097

[2022-04-18 10:38] outcatcher commented on #1701
DNS-related, waiting for language feature to be available:
https://go-review.googlesource.com/c/go/+/400654/

[2022-04-18 16:50] outcatcher commented on #1641
@kgeroczi Hi, can you please clarify, what kind of credentials have you used, AK/SK, token, or plain username/password?

[2022-04-19 09:00] vladimirvshivkov commented on #1703
@kbechler We might return a list of nameservers? But in this case, there may be not only master servers.
Will this be acceptable for you?

[2022-04-19 14:52] Nils-Magnus opened #1704 "DNS: Retrieve nameservers"
# DNS: Feature request for retrieving nameservers of DNS zones

Albeit the nameservers for the Open Telekom Cloud are currently effectively static, they could theoretically change in the future. There's an [API call](https://docs.otc.t-systems.com/en-us/api/dns/dns_api_62004.html) to retrieve the NS records for a zone.

So, it would be nice to have this feature in the Terraform provider.

[2022-04-19 14:53] vladimirvshivkov commented on #1704
Related to #1703

[2022-04-19 18:59] kbechler commented on #1703
@vladimirvshivkov My goal is to automate the process of adding new zone. If it will be a valid list of nameservers that could be used to configure NS delegation in parent zone, if will be acceptable for me.

On the other hand, maybe such variable should be called "nameservers", not "masters" as the latter one would be confusing.

[2022-04-20 08:57] outcatcher commented on #1635
Closed due to no response. Please comment if still valid.

[2022-04-20 08:57] #1635 closed, assigned to nobody

[2022-04-21 10:26] CHS-OTC opened #1705 "Wrong API URL call for CCE"
Hey, we have the problem that this Error is shown when we Create an CCE.
Error: error creating OpenTelekomCloud CCE Node: Resource not found: [GET https://cce.eu-de.otc.t-systems.com/api/v3/projects/#####/clusters/########/nodes/], error message: {"error_msg":"The API does not exist or has not been published in the environment","error_code":"APIGW.0101","request_id":"###########"}
The Problem is t

[2022-04-21 10:32] outcatcher commented on #1705
The last `/` seems to be meaning that there should be ID of the node after it. The problem seems to be that ID of the node is not set.

[2022-04-21 13:02] outcatcher opened #1707 "[CCE] `k8s_tags` forces recreation"
# Terraform provider version
Current `devel`

# Affected Resource(s)

- `opentelekomcloud_cce_node_v3`

# Terraform Configuration Files
From acceptance tests:

[code]

# Debug Output/Panic Output

# Steps to Reproduce

Run test `TestAccCCENodesV3TaintsK8sTags`

# Expected Behavior

# Actual Behavior

[code]

[2022-04-21 17:12] arkadiusjonczek commented on #1705
Hi @outcatcher !

Do you know why the ID of the node is not set?

Error using #1706 Bugfix:
[code]

Is this a problem in the API of the opentelekomcloud?

Best regards,
Arkadius

[2022-04-21 17:22] outcatcher commented on #1705
@arkadiusjonczek That's exactly what I'm trying to find out :) #1706 Is not actually fix, but more a diagnosis helper.
Thanks to your comment, now it's clear that we have job in status `Initializing` without `CreateNodeVM` sub-job containing node ID. Seems we need to wait for a job to get in `Running` state.

[2022-04-21 17:38] arkadiusjonczek commented on #1705
@outcatcher sounds like you're on the right track. Let me know if can help you.

https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/7e11bafb61492fa96794ad078a5298f6ac855403/opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go#L556
Do you think the first index (=0) is always the right subJob?

[2022-04-21 19:40] outcatcher commented on #1705
It should be, as there is only one node created per operation: `count` in create node request (not to be confused with TF `count` argument) is always set to `1`.

[2022-04-22 17:32] arkadiusjonczek opened #1709 "Feature Request: Add publicip_ids field to opentelekomcloud_lb_loadbalancer_v3 (Dedicated Load Balancer)"
The ELB API has a field called "publicip_ids" when creating Dedicated ELB which is missing in the resource opentelekomcloud_lb_loadbalancer_v3. (See: https://docs.otc.t-systems.com/api/elb/CreateLoadBalancer.html)

With this field it is possible to use an existing EIP as public ip.

Is it possible to add this field to the resource? :)

Best regards,
Arkadius

[2022-04-22 18:09] outcatcher commented on #1709
@arkadiusjonczek Sure, this should be not a big change from our side :)

[2022-04-25 09:22] #1643 closed, assigned to lego963

[2022-04-25 10:06] #1707 closed, assigned to lego963

[2022-04-25 10:34] #1705 closed, assigned to outcatcher

[2022-04-25 12:57] outcatcher opened #1712 "[ELB] Balancer creation fails if ip type is set to `5_bgp`"
# Terraform provider version
Current `devel`

# Affected Resource(s)

- `opentelekomcloud_lb_loadbalancer_v3`

# Terraform Configuration Files
[code]

# Steps to Reproduce

1. `terraform apply`

# Actual Behavior

Error is shown with the following message:
[code]

[2022-04-25 13:28] #1709 closed, assigned to nobody

[2022-04-25 13:28] #1712 closed, assigned to nobody

[2022-04-25 16:22] generalpax opened #1714 "opentelekomcloud_compute_instance_v2 updated on every apply"
When using network { uuid = var.subnet_id } terraform will update the ressource on every run. Used provider version is 1.29.1.

My ressource definition:
[code]

Terraform apply:

[code]

[2022-04-25 16:25] outcatcher commented on #1714
This is known behaviour when passing security groups via IDs: https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/compute_instance_v2#security_groups

[2022-04-25 16:30] generalpax commented on #1714
Thank you for the fast reply. This fixed it.

[2022-04-25 16:30] #1714 closed, assigned to nobody

[2022-04-26 15:21] outcatcher commented on #1641
Requires user feedback to be implemented

[2022-04-27 07:15] #1437 closed, assigned to outcatcher

[2022-04-27 11:10] #1704 closed, assigned to vladimirvshivkov

[2022-04-27 12:55] outcatcher commented on #1703
Implementing as `masters` requires API changes

[2022-04-27 15:33] vladimirvshivkov commented on #1703
@kbechler
We released a new version with DNS nameservers data source.

try to use this config:
[code]

this outputs the following:

[code]

Can't wait for your feedback!

[2022-04-28 12:04] outcatcher opened #1719 "References in `compute_floatingip` are not links"
Documentation for the `opentelekomcloud_compute_floatingip_v2` refers to other resource by does not provide links: https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/compute_floatingip_v2

[2022-04-28 14:25] #1078 closed, assigned to nobody

[2022-04-28 17:32] philippeckel commented on #924
@outcatcher Just looking at it and realizing this has been fixed some time ago; therefore closing.

Thanks!

[2022-04-28 17:32] #924 closed, assigned to nobody

[2022-04-29 08:00] outcatcher commented on #1482
@sonic-martin
Internal response:
This is supported setting `docker_lvm_config_override` (API field `DockerLVMConfigOverride` described in [Node creation](https://docs.otc.t-systems.com/en-us/api2/cce/cce_02_0242.html)), e.g.:
`dockerThinpool=vgpaas/80%VG;kubernetesLV=vgpaas/10%VG;userLV=vgpaas/10%VG;userPath=/aaa;diskType=evs;lvType=linear`
has the following effect:
![image](https://user-images.gi

[2022-05-02 07:50] DasLeo opened #1723 "CCE: Changing disk type does not do anything"
# Terraform provider version
- 1.29.1

# Affected Resource(s)
- opentelekomcloud_cce_node_pool_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. Create a resource of type `opentelekomcloud_cce_node_pool_v3`
2. Run `terraform apply`
3. Adjust the `data_volumes` by changing the `volumetype` from `SATA` to `SSD`
4. Run `terraform apply`

# Expecte

[2022-05-02 15:26] tvannahl opened #1724 "opentelekomcloud_identity_role_v3 CCE FullAccess missing in docs"
Hi I am missing the Role name for `CCE FullAccess` in the following documentation: [opentelekomcloud_identity_role_v3](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/data-sources/identity_role_v3)

[2022-05-04 11:04] lego963 commented on #1723
@DasLeo thanks for the issue. We've missed to add `ForceNew` label for this field. Node pool resource should be recreated :)

[2022-05-04 11:51] lego963 commented on #1724
@tvannahl we will update doc with new entities, but for now I can say that `CCE FullAccess` has the name `system_all_27`

[2022-05-04 14:39] #1723 closed, assigned to nobody

[2022-05-05 13:54] #1719 closed, assigned to outcatcher

[2022-05-10 13:45] nfelger opened #1730 "VPNaaS in "FROZEN" state when not setting `admin_state_up = true`"
# Terraform provider version
v1.29.2

# Affected Resource(s)
- opentelekomcloud_vpnaas_site_connection_v2

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
n/a

# Steps to Reproduce
1. `terraform apply`

# Expected Behavior
Site connection is established.

# Actual Behavior
Site connection enters "FROZEN" state in the console web UI and cannot be deleted or modified there (but c

[2022-05-11 05:43] sfhl commented on #1692
Hi there,
i still get this with versions as follows
[code]

[code]

[2022-05-11 09:21] vladimirvshivkov commented on #1703
@kbechler,
If this is still relevant for you, reopen the issue, please.

[2022-05-11 09:21] #1703 closed, assigned to vladimirvshivkov

[2022-05-11 10:34] Gerarddp opened #1731 "Outdated opentelekomcloud_ecs_instance_v1 documentation since opentelekomcloud_floatingip_associate_v2 deprecation"
Since [opentelekomcloud_floatingip_associate_v2](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1708) is deprecated, the [documentation](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/ecs_instance_v1#instance-with-multiple-networks) for opentelekomcloud_ecs_instance_v1 is now outdated.

[2022-05-11 19:52] CHS-OTC opened #1732 "CSS - multi-AZ HA option is missing"
Is it possible to add the multi-AZ option to opentelekomcloud_css_cluster_v1

[2022-05-11 19:54] CHS-OTC opened #1733 "CSS - creation of VPC endpoint service not possible"
VPC Endpoint cannot be created and used from the resource.
is it possible to add this option the opentelekomcloud_css_cluster_v1

[2022-05-12 10:04] #1724 closed, assigned to nobody

[2022-05-12 10:46] lego963 commented on #1732
@CHS-OTC we don't have an API for that.

Incident created: https://jira.tsi-dev.otc-service.com/browse/OTCBIGDAI-2637

[2022-05-17 08:30] doktormerlin opened #1735 "Major documentation problems with deprecation of opentelekomcloud_compute_floatingip_v2 and opentelekomcloud_compute_floatingip_associate_v2"
The deprecation of opentelekomcloud_compute_floatingip_v2 and opentelekomcloud_compute_floatingip_associate_v2 leads to major problems with the documentation of how to create an ECS instance with an attached Elastic IP.

The following findings I found so far:

### opentelekomcloud_compute_instance_v2

[Instance With Multiple Networks](https://registry.terraform.io/providers/opentelekomcloud/opente

[2022-05-17 09:00] mele78 opened #1736 "Create a new RDS data source where you can get data of a specific RDS"
# Description of the enhancement
There is no RDS data source where you can read values from an existing RDS. So a new data source should be created.
## Example
[code]
The best case would be to get all the known values which are used by this specific RDS. Idea is to use the attributes from opentelekomcloud_rds_instance_v3 resource.
## Usecase
The specific usecase was to get the private IP of an RDS

[2022-05-17 10:54] vladimirvshivkov commented on #1736
Hello, @mele78!
Thanks for the issue. This is definetely data source we currently missing.
Will work on it and We will add it in the next releases.

[2022-05-17 13:58] lego963 commented on #1732
@CHS-OTC you should be able to create `css_cluster_v1` in multiple AZs.

[code]

[2022-05-17 13:58] #1732 closed, assigned to nobody

[2022-05-17 14:16] #1731 closed, assigned to nobody

[2022-05-18 09:09] #1735 closed, assigned to nobody

[2022-05-20 06:57] sfhl opened #1740 "Creating opentelekomcloud_lb_loadbalancer_v3 with existing EIP fails"
# Terraform provider version
[code]

# Affected Resource(s)
`opentelekomcloud_lb_loadbalancer_v3`

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. `terraform apply`

# Expected Behavior
All resources are created.

# Actual Behavior
It fails to create the EIP/bandwidth

[2022-05-20 09:47] nfelger commented on #1740
I just came here to report the exact same problem…

[2022-05-20 09:51] k11h-de commented on #970
First, I'd like to thank you guys for the good work you do and the improvements. the OTC Terraform provider is really a great one to work with!

I would really love to see this improvement.
My use case is to have the CCE worker nodes and a RDS db in one security group.
So I would love to attach an additional sec group to the cce nodes (in my case created with opentelekomcloud_cce_node_pool_v3)

so

[2022-05-20 12:55] nfelger commented on #1740
So the issue is that `opentelekomcloud_vpc_eip_v1` cannot create EIPs of type `5_gray`? Can this be fixed? Is there a workaround?

[2022-05-23 07:57] tobiashoefler opened #1741 "RDS MySQL - can't find version `8.0`"
# Terraform provider version
[code]

# Affected Resource(s)
`- opentelekomcloud_rds_instance_v3`

# Terraform Configuration Files
[code]
Everything is in variables. var.db_version is "8.0", var.db_type is "MySQL"

# Debug Output/Panic Output
[code]

# Actual Behavior
The code was working fine for months. Since Saturday, all of a sudden the above message breaks the build. It works if I change the v

[2022-05-23 12:03] canaykin commented on #1741
It appears the issue is isolated to MySQL but not isolated to version 8.0.x

[2022-05-23 12:37] victorgetz opened #1742 "Add functionality to adjust project_role without managing the whole agency"
There is a common problem if you create a project and then you want to use the cce you need to press this button which creates the project role for the "cce_admin_trust" agency.

You can currently create the agency with terraform but the problem is you need to configure it globaly if you are working in a subproject you have no chance to adjust just the project_role of "cce_admin_trust"

This destr

[2022-05-23 12:57] lego963 commented on #1740
@sfhl @nfelger can you try this script pls? I don't have an explanation why your script isn't working.
[code]

[2022-05-23 13:05] rhtot commented on #1741
got the same today
Error: can't find version `8.0`

  on ../../.../.../..., in resource "opentelekomcloud_rds_parametergroup_v3" "db_param_group":
  89: resource "opentelekomcloud_rds_parametergroup_v3" "db_param_group" {

  After specifying minor version, it allows to run the plan, with same effect as seen on Tobias's comment.

  PS: Hi Can :D

[2022-05-23 13:31] nfelger commented on #1740
I (obviously?) don't have that subnet, so I ran this instead:

[code]

This one completes fine, without any problems:
[code]

[2022-05-23 13:41] nfelger commented on #1740
@lego963 So I'd guess this has nothing to do with `opentelekomcloud_lb_loadbalancer_v3` but rather the `opentelekomcloud_vpc_eip_v1` resource?

Because this still fails:
[code]

Like so:
[code]

[2022-05-23 13:43] nfelger commented on #1740
(The motivation for creating the EIP separately is to make sure we can destroy and re-create the loadbalancer without risking to lose the IP address. If you know of another good way to achieve this, do let me know!)

[2022-05-23 13:46] lego963 commented on #1741
@tobiashoefler @canaykin @rhtot guys, it should be fixed soon (I hope). For now I can suggest you use meta-argument `ignore_changes`

Ticket created: https://jira.tsi-dev.otc-service.com/browse/OTCDB-1753

[2022-05-23 13:55] lego963 commented on #1741
@tobiashoefler @canaykin @rhtot can you try again? This issue should be fixed

[2022-05-23 14:01] rhtot commented on #1741
Hi @lego963
lifecycle {
    ignore_changes = [listname[index]]
  }

  Did the trick, now I'm also trying without it to see if it is fixed. Thanks in advance!

[2022-05-23 14:04] aazon commented on #1742
I don't see any business value (please correct me if I'm wrong) in creating a new CCE and not granting these "cce_admin_trust" permissions. Thus, it would make sense to perform this step automatically under the hood when Terraform creates a new CCE instance

[2022-05-23 14:06] rhtot commented on #1741
fix confirmed, thanks @lego963 for being super fast!

[2022-05-23 14:12] #1741 closed, assigned to nobody

[2022-05-24 09:12] lego963 commented on #1740
@nfelger `vpc_subnet_v1` data_source was copied from my tf files. So, it's ok that you don't have this subnet :D
I understand your request and I asked the squad members responsible for those components.

[2022-05-24 09:13] lego963 commented on #1730
@nfelger I can suggest here only to set this field `true`, by default. Is it ok from your pov?

[2022-05-24 09:19] Dustlayer commented on #1741
Since yesterday terraform even tells me
`can't find version '8.0.21'`

This error also appears if I add
[code]

I've currently installed provider version 1.29.3.
Of course my whole Terraform deployment can't be applied like that.

When I create a RDS instance via console it also creates a MySQL DB with the Version 8.0.21, so I feel kind of fooled.
Do you have a hint for me how I can proceed and ha

[2022-05-24 09:24] rhtot commented on #1741
@Dustlayer do you specify the version with the minor version? With provider version 1.26.2 now I only have to define the major version like 8.0. Haven't tested it with 1.29.3 yet as I need to do some minor refactoring, but if you can, maybe check with 1.26.2.

[2022-05-24 09:27] Dustlayer commented on #1741
@rhtot I just found out that the version string "8.0" works again.
But will it stay that way?
Because if you have to change the (minor) version Terraform of course says "the RDS has to be replaced".

So was the real issue here, that the OTC backend said, that it doesn't know version "8.0" anymore?

[2022-05-24 09:34] rhtot commented on #1741
@Dustlayer I believe so, as if you check the console, when creating an RDS instance manually, you only have the option to specify the major version (8.0, 5.7, 5.6 at the moment). This is by design I assume, therefore the minor version check happens only in the background. Now for example if one of your RDS instances is 8.0.20 while the other one is 8.0.21, being forced to define minor versions wou

[2022-05-24 09:38] Dustlayer commented on #1741
@rhtot Then I'm assuming that I can stay on "8.0" now. We're just starting off with OTC, so this was a little confusing.
Thank you for clarifying!

[2022-05-24 09:58] nfelger commented on #1730
@lego963 Makes a lot of sense to me!

[2022-05-24 10:26] lego963 commented on #1740
@sfhl @nfelger updates. You can't create EIP `5_gray` with EIP apis (`resource/opentelekomcloud_vpc_eip_v1`). If you want to use ELBv3 with EIP you should create EIP with ELBv3 API (`resource/opentelekomcloud_lb_locabalancer_v3`)

Internal tickets exist:
- https://jira.tsi-dev.otc-service.com/browse/ONS-5904
- https://jira.tsi-dev.otc-service.com/browse/ONS-5905

[2022-05-24 14:57] philippeckel commented on #1742
I also do not see the need for a new resource. We're adding multiple project roles - `eu-de` & `MOS` & each sub-project - and this is working as intended:

[code]

[2022-05-25 11:35] #1730 closed, assigned to nobody

[2022-05-27 08:38] aazon commented on #1742
@philippeckel, this is exactly what @victorgetz wanted to avoid: to start working with a CCE in the arbitrary project, one needs to make changes in the root project and, therefore, have access there.

[2022-05-27 10:18] #1692 closed, assigned to nobody

[2022-05-27 11:19] arkadiusjonczek opened #1748 "[Bug] Error: error creating OpenTelekomCloud CCE Node: context deadline exceeded"
# Terraform provider version
1.29.2

# Affected Resource(s)
- opentelekomcloud_cce_node_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. `terraform apply`

# Expected Behavior
terraform apply without failure

# Actual Behavior
terraform apply failure when creating takes too long

# Important Factoids
- nope

# References
- nope

[2022-05-27 11:24] lego963 commented on #1748
@arkadiusjonczek we have default timeouts in cce node resource.
[code]
If you want to increase timeouts, you can override them https://www.terraform.io/language/resources/syntax#operation-timeouts

[2022-05-27 11:27] vladimirvshivkov commented on #1736
Closed via #1739

[2022-05-27 11:27] #1736 closed, assigned to vladimirvshivkov

[2022-05-27 13:28] arkadiusjonczek commented on #1748
@lego963 Thank you for your quick response. I'll check if increasing the timeouts will solve the problem.

[2022-05-28 16:52] tmojzes opened #1749 "Custom image upload via opentelekomcloud_images_image_v2 does not work"
I tried to upload an image from OpenSUSE to OTC but it fails with the following error:
Error: error while uploading file "/Users/<username>/.terraform/image_cache/c3055ea93f998851504b12fe27386941.img": Put "https://ims.eu-de.otc.t-systems.com/v2/images/22161341-1e2b-4ade-9637-2b61ea14f8d2/file": OpenTelecomCloud connection error, retries exhausted. Aborting. Last error was: read /Users/<username>/

[2022-05-30 11:54] vladimirvshivkov commented on #1749
Hello, @tmojzes !
Just checked, the script you provided works fine.
The image you are trying to upload, first downloads to your local storage.
Make sure that you have enough storage and/or rights for the folder.
If you will have any issues, please reply.
Thanks!

[2022-05-31 08:07] tmojzes commented on #1749
Hi @vladimirvshivkov !
I tried it on MacOS and Linux as well checked the priviliges on the whole filepath but everything seems fine for me.
I tried to upload it with local_file_path argument as well like down below, but gives back the same error message:
[code]
Do you have any sugession how to move forward?

[2022-05-31 08:31] vladimirvshivkov commented on #1749
@tmojzes
Do you use any kind of vpn connection?

[2022-05-31 08:35] tmojzes commented on #1749
@vladimirvshivkov
There is no VPN connection between my Linux server and OTC platform.
And I also tried it at home with my personal machine, so the VPN connection problem can be sorted out.

[2022-05-31 08:43] vladimirvshivkov commented on #1749
Could you, please, send the log from the next command:
`TF_LOG=DEBUG terraform apply`

[2022-05-31 09:21] tmojzes commented on #1749
TF_LOG=DEBUG terraform apply -auto-approve
[code]

[2022-05-31 09:50] vladimirvshivkov commented on #1749
@tmojzes
Thanks for your log!
Sadly, there is nothing new, and we need to dig deeper.
Run `TF_LOG=TRACE terraform apply` and send the output here, please.

[2022-05-31 11:02] lego963 commented on #1749
@tmojzes and please, set `max_retries=1` in provider config
[code]

[2022-05-31 11:22] tmojzes commented on #1749
@vladimirvshivkov
TF_LOG=TRACE terraform apply -auto-approve
https://gist.github.com/tmojzes/d2bbc4216819e5d0e1737b0b90fabe49

[2022-05-31 11:26] tmojzes commented on #1749
@lego963
I tried it with "max_retries = 1" but unfortuantely the same problem occurs.

[2022-05-31 12:48] tmojzes commented on #1749
Looks like it was only a privilege issue, because I can upload images with the admin user.

[2022-05-31 12:54] #1749 closed, assigned to nobody

[2022-06-01 07:32] tobiashoefler opened #1751 "Feature Request: ECS NIC Source/Destination Check in TF"
# Description of the enhancement
For some of my ECS instances, I need to disable the Source/Destination Check of the respective NICs.
I'd love to have this option in Terraform directly. Something like:
[code]

[2022-06-02 09:23] nfelger commented on #1740
@lego963 I only just saw your update. Just to make sure I understand the implications: there is no way to separately create the EIPs for an ELBv3 with terraform right now?

[2022-06-02 09:27] lego963 commented on #1740
@nfelger yes, you are right. (for now) The issue with EIP in `eu-de` will be fixed, but I don't have any time estimations there. :(

[2022-06-02 09:31] tobiashoefler opened #1753 "Too many requests have been sent in a given amount of time. Pause requests, wait up to one minute, and try again"
# Terraform provider version
Terraform Version: 1.1.9
OTC Provider Version: 1.29.4

# Affected Resource(s)
- opentelekomcloud_networking_secgroup_rule_v2

# Debug Output/Panic Output
`Error: OpenTelekomCloud Security Group Rule: Too many requests have been sent in a given amount of time. Pause requests, wait up to one minute, and try again.`

# Steps to Reproduce
1. `terraform plan`

# Important F

[2022-06-02 09:33] lego963 commented on #1753
@tobiashoefler can you update the issue with affected resources?

[2022-06-02 09:33] nfelger commented on #1740
@lego963 Ok, thanks for the clarification!

[2022-06-02 10:23] lego963 commented on #1753
@tobiashoefler
Fixes for SecGroup Rule and SecGroup will be a part of v1.29.5 release

[2022-06-02 11:29] tobiashoefler commented on #1753
@lego963 Thank you very much for the fast feedback and the fix !
When will v1.29.5 be released ?

[2022-06-02 14:26] lego963 commented on #1753
@tobiashoefler now :)

[2022-06-02 14:47] lego963 commented on #1753
@tobiashoefler tf registry now has a new version. Can you try use it?

[2022-06-02 15:57] vladimirvshivkov commented on #1751
Hello, @tobiashoefler
Thanks for FR,
I'm looking for a way to implement this, because API is not supporting this parameter directly.
I'll let you know as soon as I find out something.

[2022-06-03 11:12] victorgetz commented on #1742
Yeah you are right Alex. This is a way much better way to solve the problem !

[2022-06-03 12:42] lego963 opened #1755 "[CCE] Too many requests have been sent in a given amount of time."
# Description of the enhancement
- resource "opentelekomcloud_cce_cluster_v3"
- resource "opentelekomcloud_cce_node_pool_v3"
- resource "opentelekomcloud_cce_addon_v3"

[2022-06-06 16:06] #1748 closed, assigned to nobody

[2022-06-06 16:06] lego963 commented on #1753
Resolved in: #1754

[2022-06-06 16:06] #1753 closed, assigned to nobody

[2022-06-07 10:43] #1755 closed, assigned to lego963

[2022-06-08 13:52] ebal opened #1757 "Member IDs of opentelekomcloud_lb_member_v2"
We can successfully import the opentelekomcloud_lb_member_v2 with https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1684  and many thanks for that,  but now I have another question regarding that.

I am trying to get the list of the existing Member IDs under a BSG  as we do with the below openstack command. I am facing the problem that the member_id is different than the

[2022-06-08 14:56] shaderecker opened #1759 "Allow to set/change the description of a user"
# Description of the enhancement
Is it currently not possible to set/change the description of a user through TF?
Please add this functionality

https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/identity_user_v3

[2022-06-09 10:21] #1759 closed, assigned to lego963

[2022-06-09 11:44] lego963 commented on #1757
@ebal what do you mean by BSG_ID?

[2022-06-10 04:10] Moep90 opened #1762 "[Feature] KMS Enabling Key Rotation"
# Description of the enhancement
Terraform settings should be aligned with whats possible in the GUI.

In my case, I searched for the "Enabling Key Rotation" feature.

It seams like there is currently no API for it....
https://docs.otc.t-systems.com/en-us/usermanual/kms/kms_01_0139.html
[code]

[2022-06-10 06:13] Moep90 opened #1763 "[OBS] Allow Import for opentelekomcloud_obs_bucket"
# Description of the enhancement
According to the docs, importing for OBS buckets is not possible. See https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/data-sources/obs_bucket

[code]

[2022-06-10 07:13] lego963 commented on #1762
@Moep90 we will implement this, but I suppose that it should be another resource `resource/opentelekomcloud_kms_key_rotate_v1`

API Ref:
https://docs.otc.t-systems.com/en-us/api/kms/kms_02_0038.html

[2022-06-10 07:19] lego963 commented on #1763
@Moep90 hiho, do you want to import a `resource` or `data_source`?
You opened the `data_source` doc, there is `resource` https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/obs_bucket#import

[2022-06-10 09:05] mrgasparov opened #1764 "DDS backup_strategy changes have no effect"
# Terraform provider version
1.29.5

# Affected Resource(s)
opentelekomcloud_dds_instance_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

# Steps to Reproduce
1. Define DDS instance without `backup_strategy` block
2. `terraform apply`
3. Add a `backup_strategy` block to the existing instance definition
4. `terraform apply`

# Expected Behavior
Upon completion of the `terra

[2022-06-10 11:01] #1764 closed, assigned to nobody

[2022-06-10 12:35] ebal commented on #1757
yup sorry for the confusion,

the relative cmd is

[code]

the **pool_id** is the same with pool_ids in openstack command, which is the BSG (backend server group) ID under the webui console !

In a nutshell, we can do the import if we already know the member_IDs  which is quite difficult to know before hand as there are different IDs than the ECS IDs and I was wondering if there is a way with tf t

[2022-06-10 14:10] #1763 closed, assigned to nobody

[2022-06-10 14:14] Moep90 commented on #1763
yeah no, layer 8 problem :facepalm:  just did not close and post my comment to it! Thanks

[2022-06-10 14:15] Moep90 commented on #1762
@lego963 why do you want this to be another resource?

[2022-06-10 14:16] lego963 commented on #1762
@Moep90 we want do it as a new resource :D It was just a proposal. Sorry for inconvenience

[2022-06-10 14:20] Moep90 commented on #1762
yeah no its fine, I just want to undestand why? Because it just feels like a "feature flag" if you like.

[2022-06-10 14:22] vladimirvshivkov commented on #1762
@Moep90
no worry, we'll try to implement this the way you want

[2022-06-14 07:12] lego963 commented on #1757
@ebal I can offer you a new `data_source/opentelekomcloud_lb_member_ids_v2`. Something like `data_source/opentelekomcloud_cce_node_ids_v3`. Is it ok?

[2022-06-14 09:27] ebal commented on #1757
I guess that could work. Thanks

[2022-06-14 10:10] #1757 closed, assigned to lego963

[2022-06-14 10:52] CHS-OTC opened #1767 "Limited IAM Roles to specific ressource ids"
For some OTC services it is possible to create IAM permission roles, which are only effective for a single ressource of the service.
Like access to a single KMS key or a single OBS bucket.

The API has for that a "Resource" block in the statement.
https://docs.otc.t-systems.com/api/iam/iam_11_0016.html

Can this be added to the opentelekomcloud_identity_role_v3 ressource.
So it possible to create

[2022-06-14 16:48] designtesbrot commented on #1767
Highly relevant for us, as key access ideally is resource limited

[2022-06-15 10:36] Moep90 opened #1768 "[CCE][ASG] Whole pool nodes got recreated if initial nodecount is below minimum or current node count"
# Terraform provider version
[code]

# Affected Resource(s)
- opentelekomcloud_cce_node_pool_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. `terraform apply`

# Expected Behavior
- Nodecount got increased
- only 2 nodes are added
- or the "forces new" hint
- or a hint that the initial_node_count is below the minimal nodecount

# Actual Behav

[2022-06-16 11:58] Nemental opened #1769 "[EIP] add provider argument"
# Description of the enhancement
## Resource
opentelekomcloud_vpc_eip_v1

## Idea
Add the `provider` argument like:
[code]

## Current situation
[code]

[2022-06-16 12:09] lego963 commented on #1769
@Nemental you should be able to use `provider` because it's default field. Just for example
[code]

[2022-06-16 12:09] lego963 commented on #1769
@Nemental ah, you have another issue, let me check it

[2022-06-16 12:12] Nemental commented on #1769
Currently, EIP is the only resource where it doesn't work. For example with VPC, Subnet, KMS, Keypair and Secgroup are no problems.

[2022-06-16 12:16] lego963 commented on #1769
@Nemental very strange, because it works for me. Can you paste here your provider version please?
[code]

[2022-06-16 12:20] Nemental commented on #1769
[code]
[code]

[2022-06-16 15:12] Nemental commented on #1769
Maybe bug with tf state... Close issue - no provider bug

[2022-06-16 15:12] #1769 closed, assigned to nobody

[2022-06-20 09:54] shaderecker opened #1770 "In-place update of user description not working"
I upgraded the OTC Provider to 1.29.6 to use the new user description feature. However the descriptions are not applied to existing users (where the descriptions were previously empty or have another value).
The in-place update of existing users is not working for the description parameter.
Adding the description only works if the user is newly created.

# Terraform provider version

[code]

# Aff

[2022-06-20 13:24] ebal opened #1771 "[ECS] New data_source/opentelekomcloud_compute_instance_v2"
# Description of the enhancement

I was wondering if there is a way to have a new data_source about ECS instances similar to the below openstack command?

[code]

The idea behind this request, is to dynamically query our current infra (we use naming scheme) to get the list of VMs and their IDs so we can then create a proper import list based on their IDs.

thanks in advance,

[2022-06-21 11:43] #1770 closed, assigned to lego963

[2022-06-21 15:45] xopher-mc opened #1775 "KMSv1 client: No suitable endpoint"
Terraform file
[code]

Result:

[code]

[2022-06-22 05:54] lego963 commented on #1775
@xopher-mc hiho,
can you try to run `terraform apply` with the empty tfstate file please? Sometimes bad tfstate file produces such errors

[2022-06-22 09:02] #1762 closed, assigned to vladimirvshivkov

[2022-06-22 09:04] vladimirvshivkov commented on #1762
@Moep90,

I modified resource to enable key rotation.
After the next release (later today), you will be able to use the example below:
[code]

[2022-06-22 09:07] Moep90 commented on #1762
@vladimirvshivkov I suggest something like this:

[code]

if `rotation_interval` is `null` or not set by default it should be disabled.
Having both option seams to be not feasable as they both achive the same thing....

[2022-06-22 09:09] Moep90 commented on #1768
is there anything I can help with?

[2022-06-22 09:16] vladimirvshivkov commented on #1762
@Moep90
no, you need only to set `rotation_enable = true`,
and by default it will set rotation interval to 365.
and if you want to set custom period you may explicitly specify it by setting  `rotation_interval = 183 `.
is it clear?

[2022-06-22 09:19] Moep90 commented on #1762
I understand what you're telling me. But I challenge the fact, that we need both resource inputs

if you set `rotation_interval` you want to enable key-rotation.
if you dont set `rotation_interval` it should be disabled by default.

Therfore `rotation_enable` can be removed as resource input IMHO.

[2022-06-22 09:27] vladimirvshivkov commented on #1762
that's the point. you don't need both.
set the only `rotation_enable` and that's it.

we need this argument to disable rotation.

[2022-06-22 09:34] CHS-OTC opened #1776 "CBR vault refresh issue if server backups exclude disks"
Hello,

we have an issue with updating the TF state when the OTC CBR vault API response includes a "exclude_volumes" or a "include_volumes" in the extra_info field of a ressource.

# Terraform provider version
Terraform v1.2.3
on windows_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.29.6
+ provider registry.terraform.io/terraform-provider-openstack/openstack v1.47.0

[2022-06-22 09:53] xopher-mc commented on #1775
@lego963  thanks for the reply

I have found the problem (user error)

I set OS_TOKEN to use the data source opentelekomcloud_identity_auth_scope_v3

I obtained OS_TOKEN for my user, rather than the terraform user I was deploying with 🤦‍♂️

Please close ticket

[2022-06-22 11:52] AdamVB opened #1777 "[ECS] Return admin password for windows machines"
# Description of the enhancement

It would be great to have terraform return the admin password in the variables after a windows ECS has been created.

See: https://docs.otc.t-systems.com/api/ecs/en-us_topic_0161341998.html

[2022-06-23 13:57] lego963 opened #1779 "Data sources to view all backups (CBR)"
### Discussed in https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/discussions/1778

<div type='discussions-op-text'>

<sup>Originally posted by **d0schuma** June 23, 2022</sup>
Hello,

is there a way to view all backups (included 'creation time' and 'backup id') that have already been performed?
Similar to this documentation: https://docs.otc.t-systems.com/en-us/api/cbr/List

[2022-06-24 15:41] xopher-mc commented on #1775
Nope that wasn't it. I used the same user and separated out the providers.  Token authentication can only be used on some resources

This works:
[code]
if I try and use the caller profile to create the kms key it fails. Like this:
[code]

It fails with :
[code]

[2022-06-27 08:50] vladimirvshivkov opened #1780 "check return data "opentelekomcloud_networking_port_v2""
I had the same problem and now I have a follow-up question concerning the data source "opentelekomcloud_networking_port_v2".

Question: Can you giv e me a working example how filtering fixed_ips would look like in practice? The documentation only states it supports an argument "fixed_ip" with the description _"(Optional) The port IP address filter."_, but I can not find an info on how such a filte

[2022-06-27 09:41] rramge commented on #1780
Since the afternoon of Friday, June 24 2022, trying to create a network port with more than one fixed_ip block leads to the following error:

[code]

This means the example above doesn't work anymore, at least when using terraform instead of the OTC web interface.

When trying to resolve the issue by creating three ports with one fixed_ip instead, the datasource fails:

[code]

The datasource:

[c

[2022-06-27 12:41] sgyuris opened #1781 "When I try to create a private DNS zone I get Internal Server Error"
# Terraform provider version

Terraform v0.14.9
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/hashicorp/time v0.7.2
+ provider registry.terraform.io/hashicorp/tls v3.4.0
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.24.3
+ provider registry.terraform.io/rhythmictech/errorcheck v3.0.0

Your version of Terraform is out of date! The

[2022-06-27 13:45] gtema opened #1782 "Add deprecation warning for the DMS Queue and Group"
Old DMS is going to be deprecated (https://open-telekom-cloud.com/en/support/release-notes/distributed-message-service/discontinue-dms-queue-end-of-june-2022). Let's drop it from docs now and later drop from the code.

[2022-06-27 16:03] anton-sidelnikov commented on #1781
Hi @sgyuris , may be problem in router_region = "eu-de_01admin-runner"?

[2022-06-28 06:55] sgyuris commented on #1781
What kind of problem could it be?

[2022-06-28 07:46] anton-sidelnikov commented on #1781
i assume the region should be: router_region = "eu-de"

[2022-06-28 07:59] sgyuris commented on #1781
True. Just now I changed the 'provider' to '...subproject' and now it is fine. Just I don't understand the server internal error part.

[2022-06-28 08:02] anton-sidelnikov commented on #1781
i will check if we can set some proper message in that case

[2022-06-29 08:41] anton-sidelnikov commented on #1781
New message after next release

[2022-06-29 08:41] #1781 closed, assigned to anton-sidelnikov

[2022-06-29 08:46] vladimirvshivkov commented on #1771
Resolved by https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1772

[2022-06-29 09:02] simonszu opened #1784 "In-place upgrade of CCE"
We have two CCE instances deployed with CCE version 1.19. In the meantime, the OTC suggest us to upgrade the instances to the newest version 1.21. This seems to be an in-place upgrade.

The TF provider documentation for the CCE objects states that the newest available version is 1.19. I would like to suggest a feature request:
- Provide the deployment of 1.21 CCE instances
- Support in-place upgra

[2022-06-29 10:40] ebal commented on #1771
Hi,

with all due respect the request is for import the ECS querying based on their name (that we already know), in order to get the IDs (that we do not know) thus the openstack command as an example.

This is the opposite, to import the ECSs with the ID as argument to get their name.

We were expecting something like

[code]

and get the UUID

[2022-06-29 12:15] rramge opened #1785 "opentelekomcloud_identity dependency problem"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_identity_credential_v3
- opentelekomcloud_identity_group_membership_v3

# Terraform Configuration Files

The module is here: https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-iam
But actually it's not a code problem but more like a dependency issue

[code]

# Debug Output/Panic Output

# Steps t

[2022-06-29 13:25] rramge opened #1786 "identity_credential_v3: Please don't display and store secret keys in plain text"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_identity_credential_v3

# Terraform Configuration Files

Config is irrelevant, but here's the statefile content instead:

[code]

# Debug Output/Panic Output

# Steps to Reproduce

1. `terraform state show`

# Expected Behavior

The access_key should not be displayed or stored in plain text, the secret_key must not be

[2022-06-29 14:33] vladimirvshivkov commented on #1771
ok, understood.
will do.

[2022-06-29 14:40] xopher-mc commented on #1775
@lego963 Any thoughts?

[2022-06-30 06:52] lego963 commented on #1775
@xopher-mc paste here response of `nslookup` and `curl` please
[code]

[2022-06-30 09:03] xopher-mc commented on #1775
[code]

[code]

The problem is not the endpoint does not resolve, as when using accesskey/secret key the resource can be created.  The problem appearss to be that with token authentication method keys cannot be created. And as token takes priority as authentication method over accesskey/secretkey means that with a token you cannot create a key.  If you explicitly set them like in my example above

[2022-07-01 10:13] rramge commented on #1786
Just saying... makring a value as sensitive is not enough, it is still saved in plain text in the state and inherited to modules. A simple "terraform state pull" shares the secrets with whoever wants them.

[2022-07-01 14:35] EugenFo opened #1788 "[DMS] Kafka Premium topic creation via Terraform is missing"
# Description of the enhancement
You can create the Kafka Premiums instance via Terraform, but the creation for kafka topics can only be done via API or OTC Console.

The according API documentation can be found [here](https://docs.otc.t-systems.com/en-us/api/dms/dms-api-180614001.html).

Thanks!

[2022-07-04 08:44] vladimirvshivkov commented on #1784
Sorry, but we dont have API for that.

[2022-07-04 08:44] #1784 closed, assigned to nobody

[2022-07-04 10:29] PakesDavid opened #1789 "Creation of opentelekomcloud_lb_pool_v3 with HTTPS protocol"
# Description of the enhancement
There is no possibility to create opentelekomcloud_lb_pool_v3 with HTTPS backend protocol. Via OTC gui it is possible. In terraform doc is also said that:
For HTTP or HTTPS listeners, the protocol of the backend server group must be HTTP.
But with OTC I was able to set backend protocol as HTTPS and everything was working okay.
Is it possible to add this possibility

[2022-07-04 12:35] #1771 closed, assigned to nobody

[2022-07-05 02:50] Moep90 commented on #1768
Any update here?

[2022-07-05 09:23] vladimirvshivkov commented on #1768
thanks, investigating the issue.

[2022-07-05 10:20] vladimirvshivkov commented on #1768
@Moep90
I'm confirming the issue with your configuration,
but I managed to fix node recreation setting `initial_node_count` equals to number of `max_node_count`.
Try the same, please.
Does it works for you?

[2022-07-06 07:26] rramge opened #1791 "Issue #1786 has not been fixed, but closed"
Please see #1786 for details and reopen it.

[2022-07-06 07:26] rramge commented on #1786
You need to set it as write-only. Sensitive flag is not enough.

You have a gaping security hole here. It also raises the question why you can retrieve the secret from the API in the first place (and why the API can read it in clear text from whatever data store is used in the backend).

[2022-07-06 07:28] #1791 closed, assigned to nobody

[2022-07-06 07:41] lego963 commented on #1786
References:
https://github.com/hashicorp/terraform-provider-aws/blob/main/internal/service/iam/access_key.go
https://github.com/huaweicloud/terraform-provider-huaweicloud/blob/master/huaweicloud/services/iam/resource_huaweicloud_identity_access_key.go

[2022-07-06 09:06] xopher-mc commented on #1775
@lego963

[2022-07-06 09:18] lego963 commented on #1775
@xopher-mc it works for me
[code]

[2022-07-06 09:35] anton-sidelnikov commented on #1776
Checking it...

[2022-07-06 12:18] CHS-OTC opened #1792 "CSS - creation fails if no version is specified"
# Terraform provider version
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.29.8

# Affected Resource(s)
opentelekomcloud_css_cluster_v1.cluster

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
 Error: error creating CSS cluster: Bad request with: [POST https://css.eu-de.o

[2022-07-06 13:43] eumel8 opened #1796 "[DLB/ELBv3] transparent_client_ip_enable is missing in resource_opentelekomcloud_lb_listener_v3"
# Description of the enhancement
To replace outdated [TOA module](https://github.com/Huawei/TCP_option_address) ELB V3 API brings the listener option `transparent_client_ip_enable` to optain client ip-address for dedicated and shared loadbalancer as well.

The [documentation](https://docs.otc.t-systems.com/api/elb/CreateListener.html) is a little confusing because I can manage shared ELB also with

[2022-07-06 16:14] #1779 closed, assigned to artem-lifshits

[2022-07-06 16:17] d0schuma opened #1797 "[CCE] Cluster creation fails, because the subnet resource on OTC API if not exists or could not be found"
# Terraform provider version

[code]

# Affected Resource(s)

relevant:
- opentelekomcloud_cce_cluster_v3

<br>

possibly not relevant:
- opentelekomcloud_networking_router_v2
- opentelekomcloud_networking_network_v2
- opentelekomcloud_networking_subnet_v2
- opentelekomcloud_networking_router_interface_v2

# Terraform Configuration Files

example configuration file

[code]

# Debug Output/Panic Ou

[2022-07-06 17:36] lego963 commented on #1797
@d0schuma here `subnet_id` means `network_id`
[code]

[2022-07-07 06:33] rramge opened #1798 "identity_project_v3: Please add region datasource"
# Description of the enhancement

The doc states for the required "name" attribute:
[name](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/identity_project_v3#name) - (Required) The name of the project. it must start with ID of an existing region and be less than or equal to 64 characters. Example: eu-de_project1.

In a fully automated environment, t

[2022-07-07 07:49] rramge opened #1799 "identity_project_v3: Project region prefix can not be modified"
# Terraform provider version

Terraform v1.3.0-alpha20220608
on linux_amd64
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.29.9

# Affected Resource(s)

opentelekomcloud_identity_project_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

When changing the region part of a project's name, the provi

[2022-07-07 08:24] vladimirvshivkov commented on #1799
project change prefix is invalid between regions

[2022-07-07 08:24] #1799 closed, assigned to nobody

[2022-07-07 08:26] #1792 closed, assigned to nobody

[2022-07-07 08:31] vladimirvshivkov commented on #1768
reopen if its still an issue

[2022-07-07 08:31] #1768 closed, assigned to nobody

[2022-07-07 08:36] lego963 commented on #1775
@xopher-mc same config works well
[code]

[2022-07-07 08:58] rramge commented on #1799
Yes, that's why you need to recreate the resource instead of updating it ...

[2022-07-07 09:28] d0schuma commented on #1797
Yes, it works. Thanks :)

I don't know, if it would better to change the variable name, because this is actual misleading? I mean in all other resource that i had used it `subnet_id` means `subnet_id` and not `network_id` or others. Is only a recommendation. :)

[2022-07-07 09:34] lego963 commented on #1797
@d0schuma you are right. We are thinking about `tf-provider-v2`, because here we can't just rename the field. (Backward compatibility)

[2022-07-07 09:34] #1797 closed, assigned to nobody

[2022-07-07 12:37] xopher-mc commented on #1775
Hey @lego963  Thanks so much for the answer.

As I use otp I could not use the commandline tool to generate the token. I followed this guide as advised for otp:

https://community.open-telekom-cloud.com/community?id=community_question&sys_id=cfc42ff513959490d15a246ea67441f9&view_source=searchResult

 this suggested this curl request:

[code]

This is however wrong, as I found from here:

https://d

[2022-07-07 12:37] #1775 closed, assigned to nobody

[2022-07-07 15:10] artem-lifshits commented on #1785
Hello @rramge dependency will be fixed in #1800

[2022-07-07 16:31] #1785 closed, assigned to artem-lifshits

[2022-07-08 09:53] anton-sidelnikov commented on #1798
datasource for /v3/regions api

[2022-07-08 10:02] anton-sidelnikov commented on #1796
Shared LB cannot update transparent_client_ip_enable via api
Dedicated Load Balancer listener resource should support transparent_client_ip_enable in schema.

[2022-07-08 10:28] anton-sidelnikov commented on #1789
Current doc doesn't describe this is possible, but this is possible, so we update code in opentelekomcloud_lb_pool_v3.

[2022-07-08 13:22] rramge opened #1804 "kms_key_v1: Please check state before trying to create a key"
# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_kms_key_v1

# Terraform Configuration Files

[code]

[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`
2. `terraform destroy`
3. `terraform apply`

# Expected Behavior

After a `destroy`, another `apply` on the same terraform code should work.

# Actual Behavior

During the `destroy

[2022-07-08 17:59] eumel8 commented on #1796
@anton-sidelnikov just found out, the parameter is automatically set by HTTP listener, as described [here](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/15146efced42aa6da654b9986adf5b4792209e18/docs/resources/lb_listener_v2.md#L72) Will test this options. I think no further actions required here. thx

[2022-07-08 17:59] #1796 closed, assigned to nobody

[2022-07-11 14:52] anton-sidelnikov commented on #1804
@rramge Hi, we can add smth like "desired_state" option and reenable the key if it exist (https://docs.otc.t-systems.com/en-us/api/kms/kms_02_0016.html)

[2022-07-11 15:58] anton-sidelnikov commented on #1804
Will continue after: https://github.com/opentelekomcloud/gophertelekomcloud/pull/369

[2022-07-12 06:11] rramge commented on #1804
Sounds okay to me. Important thing is that a "terraform apply" does not lead into an error, and re-enabling the key would work.

[2022-07-12 07:57] YUANTSI opened #1805 "Terraform API to support more services of OTC"
Our Customer would like to have Terraform API to support their services used on our OTC. DRS, GaussDB, GaussDBforNonSQL, DWS, ModelArts, DLI, DIS, DGC, CDM.

[2022-07-12 08:20] vladimirvshivkov commented on #1805
We also would like to have these services in terraform.
But we lack API for many of these e.g., gaussdb.
And the rest services are planned, but it may take months to implement.
It will be better if customer prioritizes their needs.
Thanks in advance!

[2022-07-13 06:28] YUANTSI commented on #1805
I'm contacting customer to prioritize this list of services they request. I hope I will get a reply soon. any of these services already support? or at the moment none of them?

[2022-07-13 11:50] Unichron commented on #1199
I'm facing this issue again @lego963

[2022-07-14 08:03] #1786 closed, assigned to vladimirvshivkov

[2022-07-14 08:24] #1788 closed, assigned to artem-lifshits

[2022-07-14 08:28] YUANTSI commented on #1805
Customer gave the following priorities. 1 as the highest, 9 as the lowest priority.
1 | GaussDB (DM-4477)
2 | DRS (DM-4476)
3 | GaussDBforNonSQL (DM-4483)
4 | DWS (DM-4478)
5 | CDM
6 | DIS (DM-4481)
7 | DGC (DM-4482)
8 | DLI (DM-4480)
9 | ModelArts (DM-4479)

[2022-07-14 08:50] anton-sidelnikov commented on #1804
Released, please check.

[2022-07-14 08:51] anton-sidelnikov commented on #1776
Released, please check.

[2022-07-14 08:51] #1776 closed, assigned to anton-sidelnikov

[2022-07-14 09:00] artem-lifshits commented on #1782
Deprecation warning added.

Colleagues from orchestration squad mentioned that service shouldn't be available/supported since last week but as I can see it's still available both from console and API.

For now I'm leaving the ticket opened. Queue/groups code&documentation will be removed when it becomes completely unavailable.

[2022-07-15 08:40] siebertm opened #1812 "opentelekomcloud_identity_user_v3 updates object during `terraform plan`"
Hello,

for security reasons, we want our CI to run `terraform plan` with a readonly user to avoid unreviewed code to be applied.

For this, I created a specific user which only has readonly permissions. Unfortunately, `terraform plan` now fails with rather unspecific error `update os user failed` with status code 403.

I set up `Cloud Trace Service` and ran the same `terraform plan` with a full-a

[2022-07-15 12:35] r-ising opened #1813 "[CCE] Encryption on root volume"
# Encryption on root volume

In the API documentation its the same "Volume object" type on rootVolume and on dataVolumes.
See https://docs.otc.t-systems.com/en-us/api2/cce/cce_02_0242.html

The terraform provider supports the kms_id only on dataVolumes.

I already tried to create a CCE with an node pool with encrypted root volume and data volumes (by API) and it works fine.

Its just a very small

[2022-07-18 06:49] rramge commented on #1804
You did something, yes, but the problem is still not solved. 'terraform apply' still breaks, the given example is still valid.

It's nice you added a desired_state flag or something, but you also need to validate it and act accordingly during the apply or update phase.

Notable difference is, that now even a manual "terraform import" doesn't work anymore:

[code]

[2022-07-18 08:01] anton-sidelnikov commented on #1804
@rramge Did you add allow_cancel_deletion=true key into your code?

[2022-07-18 08:06] victorgetz commented on #1742
Any news?

[2022-07-18 08:32] rramge opened #1818 "dns_recordset_v2: TXT records missing starting quotation mark"
# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_dns_recordset_v2

# Terraform Configuration Files
[code]
Module: https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-dns.git

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

TXT record should have been created (terraform plan did not return an er

[2022-07-18 12:34] r-ising opened #1820 "[ECS] opentelekomcloud_ecs_instance_v1 not working corrently with opentelekomcloud_compute_volume_attach_v2"
# Terraform provider version

1.2.5

# Affected Resource(s)

- opentelekomcloud_ecs_instance_v1
- opentelekomcloud_compute_volume_attach_v2
- opentelekomcloud_blockstorage_volume_v2

# Terraform Configuration Files
[code]

# Steps to Reproduce

Run terraform apply multiple times

# Expected Behavior

VM shouldn't be recreated on every apply without changing the terraform files.

# Actual Behavior

[2022-07-18 12:45] rramge commented on #1804
@anton-sidelnikov

 I was not aware of allow_cancel_deletion, it's not in the documentation (yet). But now I am, so I hardcoded it in the module.

Effect is that it works with key1 in the following example, but not with key2.

[code]
This leads to a follow-up error:   {"error":{"error_msg":"The rotation state of key is not disabled.","error_code":"KMS.2901"}}.

[2022-07-19 06:45] anton-sidelnikov opened #1821 "[KMS] The rotation state of key is not disabled, when key in pending delete state."
The rotation state of key is not disabled, when key in pending delete state.
[code]
This leads to a follow-up error: {"error":{"error_msg":"The rotation state of key is not disabled.","error_code":"KMS.2901"}}.

[2022-07-19 06:46] anton-sidelnikov commented on #1804
Depends-on: #1821

[2022-07-19 07:06] vladimirvshivkov opened #1822 "automatic acceptance test on pr"
# Description of the enhancement
We have to figure out the way to run acc test on module modified PR

[2022-07-19 07:54] #1798 closed, assigned to artem-lifshits

[2022-07-19 12:08] r-ising commented on #1820
I found this example on your documentation: https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/ecs_instance_v1

[2022-07-19 12:38] YUANTSI commented on #1805
Can we please have some time evaluation about when these API will be supported? thanks!

[2022-07-19 13:05] #1821 closed, assigned to anton-sidelnikov

[2022-07-20 06:59] rramge opened #1824 "[Peering] VPC is destroyed while Router Interface and Subnets still exist?"
# Terraform provider version

Terraform v1.3.0-alpha20220706
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.0

# Affected Resource(s)

opentelekomcloud_vpc_peering_connection_v2
opentelekomcloud_vpc_route_v2
opentelekomcloud_vpc_v1

# Terraform Configuration Files

You can find an example, where the issue can be reproduced in about 50% of tries here: [https

[2022-07-20 07:14] rramge commented on #1824
I attach the terraform graph here, just in case. A subsequent destroy operation failed with the reported error.

[graph.out.txt](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/files/9147367/graph.out.txt)

[2022-07-20 08:10] rramge opened #1825 "[DNS] "The TTL parameter has been out of range. The value ranges from 300 to 2147483647.""
# Terraform provider version

Terraform v1.3.0-alpha20220706
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.29.9

# Affected Resource(s)

opentelekomcloud_dns_recordset_v2

# Terraform Configuration Files

Anything with TTL < 300

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

**TTLs lower than 300 still w

[2022-07-20 08:29] rramge opened #1826 "[OBS / S3] Error: error creating bucket tfstate-governance: DeregisterUserId"
# Terraform provider version

Terraform v1.3.0-alpha20220706
on linux_amd64
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.0

# Affected Resource(s)

opentelekomcloud_obs_bucket
opentelekomcloud_s3_bucket

# Terraform Configuration Files

This is an S3 example for calling the modules linked below, OBS is basically i

[2022-07-21 06:35] rramge opened #1828 "Running into API error with identity_role_assignment_v3"
### Discussed in https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/discussions/1793

<div type='discussions-op-text'>

<sup>Originally posted by **rramge** July  6, 2022</sup>
Hi,

I am a little stuck here. Maybe you can help me out?

Okay, I have a user:

[code]

And I have a role:

[code]

And my plan says:

[code]
So role_id and user_id look good and domain_id is the same

[2022-07-21 09:59] rramge commented on #1826
Starting today, I also get error messages in the OTC webconsole which may shed some light on what is going on. It's seems like the entire tenancy got disabled; data in buckets can not be accessed, VMs are created but only in "Stopped" state, and so on.

This might explain the mystery, but still the provider needs to handle the error code somehow, e.g. by displaying a proper error message.

Cheers,

[2022-07-21 13:50] vladimirvshivkov commented on #1813
closed by https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1827

[2022-07-21 13:50] #1813 closed, assigned to nobody

[2022-07-21 14:00] vladimirvshivkov commented on #1805
We planned implementation, but cannot evaluate them now, because of a lack of API for these new services.
And some of them are even hardly be operated by terraform, i.e. ModelArts, DIS.

[2022-07-21 15:15] anton-sidelnikov commented on #1804
@rramge Please check on new version

[2022-07-21 22:31] Aloento commented on #1598
@lego963 We can implement these features without any SDK changes. I will try

[2022-07-22 08:58] anton-sidelnikov commented on #1825
Internal issue, we investigating this.

[2022-07-22 14:31] artem-lifshits opened #1830 "[CBR]: fix ``resource/opentelekomcloud_cbr_vault_v3`` tags correlation after gopher update"
# Description of the enhancement
After gophertelekomcloud vault tags refactoring additional fix needs to be made on terraform level.

[2022-07-22 14:59] #1830 closed, assigned to artem-lifshits

[2022-07-22 15:56] ddimasik opened #1832 "cannot unmarshal number 6.5 into Go struct"
# Terraform provider version
1.30.1

# Affected Resource(s)
opentelekomcloud_csbs_backup_v1

# Terraform Configuration Files

[code]

# Debug Output/Panic Output
https://gist.github.com/ddimasik/5c27bcbf35fb631cca9c008d2aaa0862

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior
Backup created and no error message appeared

# Actual Behavior
Backup created and error message appeared

[2022-07-22 21:15] Aloento commented on #1099
These features are not currently supported on our platform and we will consider adding them at some point in the future.

[2022-07-25 06:17] rramge commented on #1804
@anton-sidelnikov I tested with 1.30.1 and it looks good now.

Thank you very much :-)

[2022-07-25 06:17] #1804 closed, assigned to anton-sidelnikov

[2022-07-25 08:25] #1789 closed, assigned to vladimirvshivkov

[2022-07-26 12:39] Dustlayer opened #1839 "[DCS] Capacity not supporting floats"
# Terraform provider version
Terraform Provider Version: 1.30.1

# Affected Resource(s)
- opentelekomcloud_dcs_instance_v1

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce
1. `terraform plan` or `terraform apply`

# Expected Behavior
I expected that the resource supports float values as capacity.
The [documentation of the OTC API](https://docs.otc.t

[2022-07-26 12:58] Nemental opened #1840 "Error: alarmrule: Too many requests"
# Terraform provider version
[code]

# Affected Resource(s)
- opentelekomcloud_ces_alarmrule

# Terraform Configuration Files
/

# Debug Output/Panic Output
[code]

# Steps to Reproduce
- `terraform apply`
- `terraform plan`

# Expected Behavior
plan / apply terraform

# Actual Behavior
see above output, running in rate limitation

# Important Factoids
it's working in development stage with lower

[2022-07-26 13:54] Aloento commented on #1598
fixed https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1833

[2022-07-26 13:54] #1598 closed, assigned to Aloento

[2022-07-27 08:19] anton-sidelnikov commented on #1733
Hello @CHS-OTC you should use opentelekomcloud_vpcep_service_v1 for this, it is not right decision to put vpcep logic inside css resource. Yes it present on ui, but this not fit terraform provider structure.

[2022-07-27 10:11] artem-lifshits commented on #1742
Hi @victorgetz the idea of making additional resource (which in current config is intended to be used anyway) under the hood looks great at first but can lead to misunderstanding and remnant of orphan resources. Initially Terraform was meant to be declarative and explicit but creation of separate resource inside another breaks these standards.
Also take into account that to perform such automated

[2022-07-27 10:36] artem-lifshits commented on #1828
Hello @rramge I was able to reproduce the issue, working on it.

[2022-07-27 12:26] artem-lifshits commented on #1828
After some research I've found out that ``user_id`` parameter is not supported for role assignment (you can assign a role only for a group, not a user).
Fix is on the way.

[2022-07-28 07:45] artem-lifshits commented on #1767
Feature is released in provider v1.30.2, please check.

[2022-07-28 07:45] #1767 closed, assigned to artem-lifshits

[2022-07-28 07:46] artem-lifshits commented on #1812
Fix for this issue is added in provider v1.30.2, please check.

[2022-07-28 07:46] #1812 closed, assigned to artem-lifshits

[2022-07-28 07:46] artem-lifshits commented on #1828
Provider v1.30.2 was released with a fix for this issue, please check.

[2022-07-28 07:46] #1828 closed, assigned to artem-lifshits

[2022-07-28 08:03] anton-sidelnikov commented on #1832
@ddimasik  please check

[2022-07-28 08:03] anton-sidelnikov commented on #1824
@rramge please check

[2022-07-28 08:04] anton-sidelnikov commented on #1818
@rramge please check

[2022-07-28 10:45] ddimasik commented on #1832
@anton-sidelnikov Great! It works like a charm, thank you very much!

[2022-07-28 10:45] #1832 closed, assigned to anton-sidelnikov

[2022-07-28 22:38] shaderecker opened #1844 "Error: unable to query groups: Too many requests"
# Terraform provider version

Terraform v1.2.6
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.2

# Affected Resource(s)

opentelekomcloud_identity_group_membership_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform plan`
2. Having more than 50 user groups, now I run into this issue

# Expecte

[2022-07-28 23:33] selfscrum opened #1845 "subnet_v1.status does not exist"
`docs/resources/vpc_subnet_v1.md` states that `status` is an attribute. This is not correct.

[2022-07-28 23:39] Nils-Magnus commented on #1840
Could you please add an anonymized, minimal set of configuration and template files that still triggers the issue?

[2022-07-29 06:11] vladimirvshivkov commented on #1845
looks like that's true. will fix

[2022-07-29 07:29] Nemental commented on #1840
[ces_alarmrule.txt](https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/files/9217508/ces_alarmrule.txt)
These are the 5 CES alarmrules, repetitively defined for about 60 ECS.

[2022-07-29 07:41] lego963 commented on #1840
@Nemental can you paste here all names of resources/data_sources you use?

[2022-07-29 08:03] Nemental commented on #1840
**resources**
- opentelekomcloud_compute_keypair_v2
- opentelekomcloud_kms_key_v1
- opentelekomcloud_vpc_eip_v1
- opentelekomcloud_networking_floatingip_associate_v2
- opentelekomcloud_networking_secgroup_v2
- opentelekomcloud_networking_secgroup_rule_v2
- opentelekomcloud_obs_bucket
- opentelekomcloud_obs_bucket_policy
- opentelekomcloud_vpc_v1
- opentelekomcloud_vpc_peering_connection_v2
- opent

[2022-07-29 08:24] lego963 opened #1848 "[Throttling] Use client from ctx"
**resources**

- [x] - opentelekomcloud_compute_keypair_v2 #1857
- [x] - opentelekomcloud_kms_key_v1 #1866
- [x] - opentelekomcloud_vpc_eip_v1 #1849
- [x] - opentelekomcloud_networking_floatingip_associate_v2 #1853
- [x] - opentelekomcloud_networking_secgroup_v2
- [x] - opentelekomcloud_networking_secgroup_rule_v2
- [ ] - opentelekomcloud_obs_bucket
- [ ] - opentelekomcloud_obs_bucket_policy
- [x]

[2022-07-29 09:22] shaderecker opened #1850 "error sending a welcome email: {"error": {"code": 400,"message": "User not bind email.","title": "Bad Request"}}"
# Terraform provider version

Terraform v1.2.6
on linux_amd64

* provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.2

# Affected Resource(s)

opentelekomcloud_identity_user_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

The user gets created successfully.

# Actual Behavior

The

[2022-07-29 10:36] artem-lifshits commented on #1850
Hi @shaderecker I've tested this config several times - with 3-5 users, wasn't able to reproduce the issue.
Can you check the vars part please?
[code]

[2022-07-29 14:24] shaderecker commented on #1850
Hi @artem-lifshits I also tested with your config a couple of times but could not reproduce it now.
As I said it only happens occasionally :/
In my CI/CD pipeline (Github Actions) it happened three times in the past, which annoyed me enough to open this ticket.

What I can add: A second re-run of the TF config then works and everything gets created normally.

[2022-08-01 12:06] #1824 closed, assigned to anton-sidelnikov

[2022-08-01 12:07] #1818 closed, assigned to anton-sidelnikov

[2022-08-01 12:07] #1733 closed, assigned to anton-sidelnikov

[2022-08-01 12:23] artem-lifshits commented on #1850
This problem might be related to throttling issue (described in #1848), especially if user creation config is used with a couple of other resources.

During the research I've also noticed that we lack a validations for ``opentelekomcloud_identity_user_v3``, currently working on a PR for it.

[2022-08-01 14:59] artem-lifshits opened #1854 "Add email validations for ``resource_opentelekomcloud_identity_user_v3``"
# Description of the enhancement
IAM users API can take any string as an email without further validation from backend side.
We need to add universal email validation that can be used in resource schema.

[2022-08-01 14:59] artem-lifshits opened #1855 "Add email validations for ``resource_opentelekomcloud_identity_user_v3``"
# Description of the enhancement
IAM users API can take any string as an email without further validation from backend side.
We need to add universal email validation that can be used in resource schema.

[2022-08-01 15:13] #1854 closed, assigned to nobody

[2022-08-02 07:28] #1855 closed, assigned to artem-lifshits

[2022-08-02 08:03] rramge opened #1860 "[IMS] calc aksk signature fail:body too large"
Hello,

uploading private images to IMS doesn't work anymore. Worked until last Thursday, I didn't check on Friday.

# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_images_image_v2

# Terraform Configuration Files

Module: [https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-ims
](https://gitlab.ict.technology/ioda/tf/modules/terraform-openteleko

[2022-08-02 08:32] rramge commented on #1818
Hi,

there is still something broken.

For example, this record:

[code]

leads to the following error:

[code]

Cheers,

Ralf

[2022-08-02 08:33] rramge commented on #1818
Checked, seems to work now. Thanks!

[2022-08-02 08:34] anton-sidelnikov commented on #1860
@rramge which size of the image do you use?

[2022-08-02 09:56] rramge commented on #1860
The disk size of the image itself is 64 GB.

I tested with min_disk_gb values of 40 (which is also the provider default value if null), 64 and 100.

Until recently the OTC behaviour was that if a min_disk_gb value was lower than the actual image disk size, then the value was updated in-place after the apply.  But I am not getting so far anymore today.

[EDIT]  I also tried with an image which only

[2022-08-02 11:53] Aloento opened #1863 "[DCS] updated in-place error"
When run the test `TestAccDcsInstancesV1_basic`
we got this:
[code]

In the console, the instance has been successfully created.

![image](https://user-images.githubusercontent.com/11802769/182367750-38a7d3a0-afec-4356-b07d-3f7bda9ccca0.png)

https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1851

[2022-08-02 12:30] Aloento commented on #1863
Some analysis

`resourceDcsInstancesV1Read` returns null correctly.
`resourceDcsInstancesV1Create` also returns null correctly.
`Capacity` and `CapacityMinor` are read correctly.

![image](https://user-images.githubusercontent.com/11802769/182374117-87027311-4847-4551-b3ba-1c9b3e40db3c.png)

No call to `resourceDcsInstancesV1Update`.

![image](https://user-images.githubusercontent.com/11802769/182

[2022-08-02 13:10] Aloento commented on #1863
This is an OTC bug that is tracked here:
BUG: DCS: Null "security_group_id" returned Query_DCS_Instance API
OTCORC-1589

[2022-08-02 14:38] Aloento commented on #1839
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1851

[2022-08-02 14:38] #1839 closed, assigned to Aloento

[2022-08-02 16:28] #1782 closed, assigned to artem-lifshits

[2022-08-03 15:47] anton-sidelnikov commented on #1840
@Nemental Please check, on new release

[2022-08-03 15:53] anton-sidelnikov commented on #1820
@r-ising now all data_disks using only in create, All volumes can be found now in volumes_attached attribute

[2022-08-03 17:41] Aloento commented on #1751
After an hour of searching, I found a way to implement it.
https://docs.otc.t-systems.com/api/vpc/vpc_port02_0003.html
just set `allowed_address_pairs` to `1.1.1.1/0`
then the source/destination check is disabled.

https://github.com/opentelekomcloud/gophertelekomcloud/blob/29a8828a8dcf58f878db653d54937f5cdffc6ce0/openstack/networking/v2/ports/requests.go#L90
https://github.com/opentelekomcloud/te

[2022-08-03 17:49] #1751 closed, assigned to Aloento

[2022-08-03 18:05] Aloento commented on #1701
go feature was reverted: https://go-review.googlesource.com/c/go/+/401754
so it still can't be implemented to be working with windows

[2022-08-03 18:10] #1641 closed, assigned to nobody

[2022-08-03 18:14] Aloento commented on #1605
XAAS-10354 / XAAS-10355 / XAAS-10357 closed

[2022-08-03 18:16] Aloento commented on #1605
New tracking
https://jira.tsi-dev.otc-service.com/browse/OTCORC-511
https://jira.tsi-dev.otc-service.com/browse/OTCORC-650
https://jira.tsi-dev.otc-service.com/browse/OTCORC-660

[2022-08-03 18:21] Aloento commented on #1538
What else needs to be changed?

[2022-08-03 18:22] Aloento commented on #1534
DM-2913 and #1285 closed
If you have further questions, please reopen it.

[2022-08-03 18:24] Aloento commented on #1513
If you have further questions, please reopen it.

[2022-08-03 18:24] #1513 closed, assigned to nobody

[2022-08-03 18:27] Aloento commented on #1482
OCS-4709 closed
CCE Node: data disk allocation via API (DM-3698) is about to be resolved.
If you have further questions, please reopen it.

[2022-08-03 18:27] #1482 closed, assigned to nobody

[2022-08-03 18:28] Aloento commented on #1363
What else needs to be changed?

[2022-08-03 18:31] Aloento commented on #1290
moved to https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/issues/1822

[2022-08-03 18:34] Aloento commented on #1231
Status:PENDING

[2022-08-03 18:35] Aloento commented on #1230
moved to https://jira.tsi-dev.otc-service.com/browse/OTCORC-528

[2022-08-03 18:39] #1099 closed, assigned to nobody

[2022-08-03 18:40] Aloento commented on #1025
still pending

[2022-08-03 18:41] Aloento commented on #1017
sticking to the OpenStack naming is more correct in this case.

[2022-08-03 18:42] Aloento commented on #986
OTCBIGDAI-842 closed and Won't Do

[2022-08-03 18:46] Aloento commented on #962
OTCSEC-1814 closed
DM-2520 is about to finish
If you have further questions, please reopen it.

[2022-08-03 18:50] Aloento commented on #336
moved to DM-2465

[2022-08-03 18:50] Aloento commented on #99
moved to DM-2465

[2022-08-03 19:08] outcatcher commented on #1538
Issue assumes removing all `defer` usages in tests, at least, for quota usage.

[2022-08-03 19:11] outcatcher commented on #1363
Any test which can be parallelized 🙂 I suppose there should be at least tests inherited from openstack sdk that are not done parallel.

[2022-08-04 09:22] wongak opened #1867 "[VPC] Resource opentelekomcloud_networking_network_v2 does not create a VPC"
# Terraform provider version

[code]
# Affected Resource(s)

- opentelekomcloud_networking_network_v2
- opentelekomcloud_networking_floatingip_v2
- opentelekomcloud_compute_instance_v2
# Terraform Configuration Files
[code]

# Debug Output/Panic Output

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

* VPC should be created
* `opentelekomcloud_networking_network_v2` should map to

[2022-08-04 09:27] vladimirvshivkov opened #1868 "[IAM] Make AKSK encryption optional"
#1786

[2022-08-04 09:30] anton-sidelnikov commented on #1860
Created internal ticket: OST-17401

[2022-08-05 07:51] anton-sidelnikov commented on #1860
Hello @rramge can you check this: https://support.huaweicloud.com/intl/en-us/devg-apisign/api-sign-0001.html?

[2022-08-05 09:41] rramge commented on #1860
Yes, that's possible. But since there are no signatures calculated by the end user (it's not a resource argument or whatever), this is either an internal problem or something is missing in the provider code. So there's nothing that can be done on the terraform end-user's side.
And don't forget: It worked until last week.

And it's not like we have any options on the provider level, besides maybe a

[2022-08-05 10:49] anton-sidelnikov commented on #1860
Yes, i will investigate this deeper, may be some header was changed/added on backend side

[2022-08-05 14:40] uli-max opened #1872 "[OBS] Swiss-Region (eu-ch2) - OBS Bucket creation not possible"
# Terraform provider version

Terraform v1.2.6
on linux_amd64
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.2

# Affected Resource(s)

opentelekomcloud_obs_bucket

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

╷
│ Error: error getting storage class of OBS bucket eu-ch2-uli-cce-showcase-v2-tfs

[2022-08-08 06:24] vladimirvshivkov commented on #1845
@selfscrum
check in latest release.
close for now

[2022-08-08 06:24] #1845 closed, assigned to vladimirvshivkov

[2022-08-08 07:33] anton-sidelnikov commented on #1534
@Aloento https://jira.tsi-dev.otc-service.com/browse/DM-3635 still unresolved, why are you closed this issue?

[2022-08-08 07:36] anton-sidelnikov commented on #1863
I think we need to wait resolving inside OTC and the we can close on our side

[2022-08-08 07:49] anton-sidelnikov commented on #962
DM-2520 still in progress, we need to wait implementation

[2022-08-08 11:45] anton-sidelnikov commented on #986
Please guys do retest @Aloento @artem-lifshits @vladimirvshivkov

[2022-08-08 11:47] Aloento commented on #1867
[code]

[code]

VPC created
Subnet created
ECS created, bonded to VPC

[2022-08-08 11:59] wongak commented on #1867
Cool, thank you. Seems like the router was missing?

You might want to update the docs here: https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/networking_network_v2

Anyways, thank you for the support.

[2022-08-08 11:59] #1867 closed, assigned to Aloento

[2022-08-08 13:51] Aloento commented on #986
`/V1.0/{project_id}/cluster/sslCert`
`/v1.0/{project_id}/cluster/sslCert`
`/v1.0/{project_id}/cer/download`

[code]

[2022-08-08 13:51] #986 closed, assigned to Aloento

[2022-08-08 13:56] #1868 closed, assigned to vladimirvshivkov

[2022-08-10 10:14] rramge opened #1874 "[VBS] week_frequency must have exactly one item"
# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_vbs_backup_policy_v2

# Terraform Configuration Files
[code]
Module: [https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-vbs](https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-vbs)

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Be

[2022-08-10 11:25] rramge opened #1875 "[VBS] Please add a timeout block to opentelekomcloud_vbs_backup_v2"
# Description of the enhancement

Resource: opentelekomcloud_vbs_backup_v2

The OTC backend is ridiculously slow when shoveling data, and backups of even very small volumes far below 1 TB take a very long time and run into timeouts.

The result is that there is no backup in the state, but it still exists in the infrastructure and appears on the billing invoice.

Please add a timeout block to the r

[2022-08-11 07:51] rramge opened #1876 "Can't destroy block volume after VBS backup"
# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_blockstorage_volume_v2
opentelekomcloud_vbs_backup_v2

# Terraform Configuration Files
[code]
Block Volume Module: [https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-vbs](https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-vbs)

Backup Module: [https://gitlab.ict.technology/io

[2022-08-11 09:09] rramge commented on #1876
I have the impression (not really tested or reproduced yet, only a one-time observation), that that snapshot gets handled somehow.

I ran into the error, which caused all resources being destroyed in the state except the blockvolume. Then I went into a meeting for an hour and after I returned, a second destroy on the resource worked fine. Maybe it's a time-based thing or a OTC performance issue, m

[2022-08-11 10:03] rramge opened #1877 "[CSBS] backup provider ID datasource"
# Description of the enhancement
Hello,

the documentation for opentelekomcloud_csbs_backup_policy_v1 states:

[provider_id](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/csbs_backup_policy_v1#provider_id) - (Required) Specifies backup provider ID. Default value is fc4d5750-22e7-4798-8a46-f48f62c4c1da

Can you please add a datasource for retrieving

[2022-08-12 12:03] Aloento opened #1878 "[CES] Alarm Rules SDK Changed"
https://github.com/opentelekomcloud/gophertelekomcloud/pull/381

[2022-08-15 11:46] Nemental commented on #1840
With release 1.31.0 everything works as expected. Thanks to all of you for the fast support and fixing :)
@lego963
@anton-sidelnikov

[2022-08-15 13:26] flodev opened #1879 "Cannot automate renewing of certificates because OTC_PASSWORD for the user expires"
# Description of the enhancement
Hi,

we would like to automate the renewal of certificates using github actions.
Our problem is that acme_certificate requires a username and password and that the password for that user expires from time to time which is related to OTC rules.
This makes us unable to automate the process.
Isn't it possible to use otc key and secret only?

[code]

[2022-08-15 14:19] #1840 closed, assigned to anton-sidelnikov

[2022-08-15 14:22] anton-sidelnikov commented on #1820
If you have further questions, please reopen it.

[2022-08-15 14:22] #1820 closed, assigned to anton-sidelnikov

[2022-08-15 16:42] Aloento commented on #1877
This value distinguishes whether the backup target is a server or a disk.

`fc4d5750-22e7-4798-8a46-f48f62c4c1da` indicates that it is a server,
and you can't modify this value, and you can only fill it in.

We will consider hiding this parameter.
That way you don't have to worry about it changing.

[2022-08-15 16:51] rramge commented on #1877
Well, a pretty complicated way to tell if it's a server or disk :-) But as long as it won't change, I'm cool with it. Hiding it would make sense with the next major release of the provider, IMHO.

[2022-08-15 16:51] #1877 closed, assigned to Aloento

[2022-08-15 17:19] anton-sidelnikov commented on #1875
@rramge
This block already used in resource:
[code]

[2022-08-15 17:25] anton-sidelnikov commented on #1879
@flodev Sorry, but currently we cannot use ak/sk in this resources. You can try some third party for password rotation like Vault (https://github.com/opentelekomcloud/vault-plugin-secrets-openstack)

[2022-08-15 19:24] artem-lifshits commented on #1844
Hello @shaderecker fix will be available in new release this week.

[2022-08-15 19:47] outcatcher commented on #1879
@anton-sidelnikov actually both SDK and provider should support AK/SK for most of resources. But that's not the case here.

@flodev
I see that you're using [`acme_certificate`](https://registry.terraform.io/providers/vancluever/acme/latest/docs) provider, as far as I can see it is using not OTC provider, nor [OTC Go SDK](https://github.com/opentelekomcloud/gophertelekomcloud), but [`acme-lego`](ht

[2022-08-16 11:26] carhartl opened #1881 "Cannot define conditions in custom policies attached to a role"
# Using conditions in custom policies

I would like to be able to make custom policies more fine-grained by specifying a condition, like so:

[code]

At the moment the `opentelekomcloud_identity_role_v3` resource only allows statement blocks with `action`, `effect`, `resource`.

[2022-08-17 06:05] rramge commented on #1875
@anton-sidelnikov  You are right. I think I ran into an error because I also had an update argument in there when I tried.

Maybe you want to add the existence of the block to the documentation? It's not mentioned in there.

Thank you and bye,

Ralf

[2022-08-17 06:59] rramge commented on #1879
Or simply install acme.sh (https://github.com/acmesh-official/acme.sh) and call it via a local_exec provisioners. Provisioners are evil, but better than nothing in such a case.

I think about writing an acme Module for OTC at some point, but at the moment this has not a real priority and will not happen in the foreseeable future.

[2022-08-17 10:42] artem-lifshits opened #1883 "[DCS]: Add ``ip whitelist`` feature for Redis 4/5"
# Description of the enhancement
IP whitelisting was added for redis 4/5 recently.

Providers needs to be updated accordingly, documentation can be found here:
https://jira.tsi-dev.otc-service.com/browse/OTCORC-1614?focusedCommentId=604125&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-604125

[2022-08-17 11:02] simonszu opened #1884 "opentelekomcloud_identity_credential_v3 returns empty access secret"
# Terraform provider version
1.31

# Affected Resource(s)
opentelekomcloud_identity_user_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
╷
│ Error: Invalid function argument
│
│   on modules/arangodb/backup.tf line 84, in resource "kubectl_manifest" "arangodb_backup_secret":
│   84:     secret        = base64encode(opentelekomcloud_identity_credential_v3.arangodb_access_key

[2022-08-17 12:00] lego963 commented on #1884
@simonszu today will be new release with fix #1869

[2022-08-17 12:18] simonszu commented on #1884
@lego963 Nice, thank you. Depending on time zones i will check it tomorrow :)

[2022-08-17 15:21] pwurbs opened #1885 "DNS change in v1.30.2 (#1829) seems to break existing terraform code"
Before the change I used escaping to specify TXT records.
`"\"blablabla"\"`
This worked and configured the TXT record in OTC with double quotes:
`"blablabla"`

Now, after upgrading the allowed OTC provider version, the apply job wanted to change the existing resource:

[code]

We canceled the job, because we were afraid, that the escape would be configured as part of the TXT string in OTC.
We hope

[2022-08-17 16:16] anton-sidelnikov commented on #1885
@pwurbs currently escaping done inside terraform, you should pass clear string.
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/devel/releasenotes/notes/fix-txt-recordsets-6383b965e457ad71.yaml - it mentioned in releasenotes, but you're right we should update doc with example.

[2022-08-18 05:16] pwurbs commented on #1885
@anton-sidelnikov Yes, this is what we plan to do. And I know this short release notes text.
I only want to say that this is a breaking change because it leads to forced (and faulty) changes in the resources. So you should tell  in the release notes (and/or in the doc).  That existing manifests including escaping must be changed.

[2022-08-18 06:34] simonszu commented on #1884
I'm afraid but after upgrading to 1.31.1 i still have the same problem.
[code]

[2022-08-18 14:10] simonszu commented on #1884
I have checked the terraform state of the resource created by the `opentelekomcloud_identity_credential_v3` module, and indeed the secret is not properly fetched and returned:

[code]

[2022-08-18 14:17] simonszu commented on #1884
Additionally, the tfstate file of an older environment we deployed with the same terraform code has an actual value for the secret.

[2022-08-18 14:20] generalpax opened #1886 "Storage Class is not supported in eu-ch2"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_obs_bucket_object

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior
file should be uploaded

# Actual Behavior
seems that storage class is not implemented in eu-ch2 api but is not choosable to false

# Important Factoids

worki

[2022-08-18 18:49] #1879 closed, assigned to anton-sidelnikov

[2022-08-19 07:14] #1875 closed, assigned to anton-sidelnikov

[2022-08-19 07:42] rramge opened #1889 "[Autoscaling] AS Group resources not deleted during destroy"
# Terraform provider version

Terraform v1.3.0-alpha20220803
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.1

# Affected Resource(s)

opentelekomcloud_as_group_v1

# Terraform Configuration Files

plan output is probably more useful here than a for_each loop:

[code]

All input values are defaults excepts those specified here (argument names can differ):

[2022-08-19 07:58] rramge commented on #1889
I think this can be resolved by setting proper default values in the provider for [delete_publicip](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/as_group_v1#delete_publicip), [delete_instances](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/as_group_v1#delete_instances) and maybe [instance_terminate

[2022-08-19 09:26] vladimirvshivkov commented on #1884
@simonszu
try to recreate the credential and try again.
the reason is that the ability to store unencrypted secret in state file was removed in the previous release.
in release 1.31.1 user may now choose to encrypt secret or not by setting pgp.
but it should be recreated and put in state file by terraform.

so, please, try to recreate and give us feedback

[2022-08-19 09:36] gtema commented on #1889
@rramge: do you mean that the resources created by AS remain existing after AS configuration itself got deleted?

[2022-08-19 09:44] rramge commented on #1889
It remains after the AS group is deleted. Or the AS configuration as well (groups depend on it).

It only gets not deleted, if the user sets the optional parameters delete_publicip and delete_instances are explicitely set to "true" and "yes". If unset and left on their default values, the resources continue to exist.

Turning them into required arguments instead of optional ones could be a working

[2022-08-19 09:51] gtema commented on #1889
yeah, making them mandatory might be a good way. Having default values is definitely not going to save users from surprises.

[2022-08-19 10:37] simonszu commented on #1884
Yeah, thanks. Deleteing and recreating did the trick :)

[2022-08-19 10:37] #1884 closed, assigned to vladimirvshivkov

[2022-08-22 05:41] anton-sidelnikov commented on #1874
@rramge, you should pass week_days as separated list items:
resource "opentelekomcloud_vbs_backup_policy_v2" "vbs" {
  name                = "policy"
  start_time          = "00:00,12:00"
  retain_first_backup = "N"
  rentention_day      = 30
  week_frequency      = ["MON", "WED", "SAT"]
}

[2022-08-22 06:08] rramge commented on #1874
Thank you for the info, I will test during the next days.

[2022-08-22 07:51] vladimirvshivkov opened #1892 "Make docs more user-oriented"
Docs should be richer with usage examples and accessible for users to avoid misunderstanding issues.

[2022-08-22 14:12] artem-lifshits commented on #1290
@Aloento this PR has a story of what exactly was done to implement automatisation.
We can also provide here future automatisation tasks, therefore I'm reopening the ticket to see full history/picture.

[2022-08-22 14:28] #1881 closed, assigned to artem-lifshits

[2022-08-22 14:29] artem-lifshits commented on #1881
Hi @carhartl this feature will be added in the next release on 1st September.
Please reopen the issue if you have some troubles with it.

[2022-08-22 14:31] artem-lifshits commented on #1878
Refactoring done in #1890

[2022-08-22 14:31] #1878 closed, assigned to artem-lifshits

[2022-08-22 15:51] AdamVB commented on #1534
you can request the installation of icagent during the cluster creation in the annotations field:

[code]

[2022-08-23 06:32] anton-sidelnikov commented on #1876
@rramge Hi Ralf, please try with cascade=true

[code]

[2022-08-23 06:47] rramge commented on #1876
Will test during the next days (and I will close the issue if it worked).

[2022-08-23 07:33] anton-sidelnikov commented on #1872
@artem-lifshits it can be the same issue like in #1886

[2022-08-23 09:38] rramge opened #1894 ""AS.3036","message":"The action in the AS policy operates is not unique.""
# Terraform provider version

[code]

# Affected Resource(s)

opentelekomcloud_as_policy_v2

# Terraform Configuration Files

Plan output:

[code]

Module excerpt (full module here: [https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-autoscaling](https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-autoscaling)):

[code]
Module call:

[code]

# Debug Outpu

[2022-08-23 10:19] rramge commented on #1874
You are right.

This works:

[code]

This result of tolist(string) doesn't work:

[code]

Thank you :-)

[2022-08-23 10:19] #1874 closed, assigned to anton-sidelnikov

[2022-08-23 11:15] rramge commented on #1876
Yes, this works. I changed var.cascade default from "false" to "true" in my module as a workaround.

Thank you very much, I am closing the issue.

[2022-08-23 11:15] #1876 closed, assigned to anton-sidelnikov

[2022-08-24 03:26] anton-sidelnikov opened #1895 "[CBR] Vault include_volumes"
# Terraform provider version
v1.31.1

# Affected Resource(s)
opentelekomcloud_cbr_vault_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
│ Error: error setting vault fields: 1 error occurred:
│     * include_volumes.0: '' expected type 'string', got unconvertible type 'vaults.ResourceExtraInfoIncludeVolumes', value: '{bc94a175-cd7c-4566-b899-9655fc02ecd4 }'
│
│
│
│   with mo

[2022-08-24 11:25] pwurbs opened #1896 "Can opentelekomcloud_ces_alarmrule be used/extended also for (new) Event Monitoring"
There is the rather new feature to configure Event Monitoring Alarm Rules.
Currently we configure it by hand.
Is it possible to use the resource opentelekomcloud_ces_alarmrule to configure these alarms resp. can the resource be extended?

[2022-08-24 11:32] anton-sidelnikov commented on #1896
@Aloento please look at this

[2022-08-24 11:43] Aloento commented on #1896
We have recently implemented this functionality in the SDK at
https://github.com/opentelekomcloud/gophertelekomcloud/blob/devel/openstack/ces/v1/alarms/create_alarm.go

It is possible to configure it via opentelekomcloud_ces_alarmrule.
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/fa4a86843d4659f181164cf0509219870f98b66f/opentelekomcloud/services/ces/resource_opentel

[2022-08-24 11:54] pwurbs commented on #1896
Thanks. Were can I find information how to set the whole bunch of parameters in opentelekomcloud_ces_alarmrule to configure Event Monitoring alerts?

[2022-08-24 12:00] Aloento commented on #1896
@pwurbs
https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/ces_alarmrule
https://docs.otc.t-systems.com/en-us/api/ces/ces_03_0031.html

[2022-08-24 12:40] pwurbs commented on #1896
@Aloento Yes, I know this.
But how to set the values for namespace, metric_name, dimensions (name, value). Even for ECS and ELB it was not easy to find out. For Event Monitoring I wouldn't know how to set these parameters.

E.g. the table in the referred link https://docs.otc.t-systems.com/en-us/api/ces/ces_03_0059.html doesn't include anything regarding Event Monitoring.

[2022-08-24 12:52] Aloento commented on #1896
All the services listed in this table are the ones we support monitoring.
(List of services supported for monitoring)
Can you tell me exactly which service you want to monitor, such as CES?

[2022-08-24 13:17] pwurbs commented on #1896
Therefore I asked in my initial question, if the "Event Monitoring" is supported at all.
Unfortunately there are errors while I try to upload screenshot.

[2022-08-24 13:20] pwurbs commented on #1896
"Event Monitoring" is a rather new type of cloud eye events for which alarm rules can be configured.
For instance in case a backup failed or an ECS has been rebooted or deleted etc.

[2022-08-24 13:22] pwurbs commented on #1896
In the list of configured "Alarm Rules", these alarms are of Alarm Type = Event

[2022-08-24 13:31] Aloento commented on #1896
I have understood your need ~~we don't seem to have implemented it in TF yet~~
Can you tell me how you set it up manually? thank you~

[2022-08-24 15:57] uli-max opened #1897 "DCS4/5 - The selected cache engine type is not supported"
# Terraform provider version

Terraform v1.1.7
on darwin_arm64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.1

# Affected Resource(s)

opentelekomcloud_dcs_instance_v1

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

opentelekomcloud_dcs_instance_v1.instance_1: Creating...
╷
│ Error: error creating DCS instance: Bad request with: [POST https://dcs.e

[2022-08-25 04:38] rramge opened #1898 "Dedicated LB L4/L7 flavors?"
# Description of the enhancement

Concerning the resource opentelekomcloud_lb_loadbalancer_v3, the documentation states:

[l4_flavor](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/lb_loadbalancer_v3#l4_flavor) - (Optional) The ID of the Layer-4 flavor.

[l7_flavor](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/doc

[2022-08-25 06:58] pwurbs commented on #1896
Unfortunately, the image upload function doesn't work.
Event Monitoring alarms can be setup like any other alarm, but in the Resource Type Listbox "Event Monitoring" has to be selected instead e.g. Elastic Cloud Server or Elastic Volume Service.
Then there are the dimensions "System event" and "Custom event" to be selected. If I select "System event", then I select an "Event Source" like "Cloud Ba

[2022-08-25 07:00] CHS-OTC opened #1899 "opentelekomcloud_logtank_group_v2 missing parameter ttl_in_days"
while trying to create a log tank group:

 error message: {"error_code":"LTS.0106","error_msg":"The log group TTL day must be integer and between 1 and 30"}

If I try to set the parameter "ttl_in_days":

│ Can't configure a value for "ttl_in_days": its value will be decided automatically based on the result of applying this configuration.

the parameter is optional according to the OTC HelpCenter,

[2022-08-25 08:38] kucerakk opened #1901 "Error: error creating OpenTelekomCloud CCEv1 client: No suitable endpoint could be found in the service catalog"
Hi,

https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/fa4a86843d4659f181164cf0509219870f98b66f/opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go#L741

seems to be using CceV1Client object in a CCEv3 node resource. Please check if it has some reason behind.

# Terraform provider version

provider registry.terraform.io/opentelekomcloud/opentelekomclou

[2022-08-25 09:33] Aloento commented on #1896
Is this what you want?
![image](https://user-images.githubusercontent.com/11802769/186629826-3d7549be-1a22-49a3-97b8-20192ac8d490.png)

[2022-08-25 09:35] pwurbs commented on #1896
Yes :)

[2022-08-25 09:36] pwurbs commented on #1896
Maybe it's already supported in the TF provider and I only don't know the actual values to be used for namespace, metric_name, dimensions (name, value)...

[2022-08-25 10:06] Aloento commented on #1896
I tried to create a rule with the configuration shown above and queried it out using the API and this is the result:

[code]

You can get the values you want by creating rules on the web and using
GET /V1.0/{project_id}/alarms/{alarm_id}

then you got the namespace, alarm_type and metric_name
There doesn't seem to be a better way to get them at the moment.

[2022-08-25 10:38] rramge commented on #1896
The "terraform way" of retrieving such information and best practice:

1. Create the resource via mouse clicking in the web console
2. Retrieve the resource ID via the web console
3. Create an empty terraform resource. (empty meaning  "{}" only)
4. terraform import resource_name id
5. terraform state show resource_name

Then copy & paste the required arguments and their values to the empty resourc

[2022-08-25 10:52] pwurbs commented on #1896
Thanks @rramge. This is what I was looking for...

So it's my conclusion, that the OTC provider already supports alarm resources for Event Monitoring. Right?

[2022-08-25 10:53] Aloento commented on #1896
@pwurbs Yes
No need to close this issue, I need to submit this issue internally and see if I can find a better solution.

[2022-08-25 10:55] pwurbs commented on #1896
Thanks, fine for me. Maybe someone provides a documentation regarding the values to avoid time consuming reverse engineering.

[2022-08-25 12:55] generalpax opened #1902 "Most resent instead of most recent"
https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/data-sources/images_image_v2

[code]

[2022-08-25 12:56] Nemental commented on #1896
@rramge Unfortunately terraform import isn't available for this resource.

[2022-08-25 20:55] Aloento commented on #1892
Agree, but it takes a lot of work.

[2022-08-25 21:01] Aloento commented on #1863
Moved to https://jira.tsi-dev.otc-service.com/browse/OTCORC-1614
and Status:DONE

[2022-08-25 21:01] #1863 closed, assigned to Aloento

[2022-08-25 21:02] #1902 closed, assigned to anton-sidelnikov

[2022-08-25 21:04] Aloento commented on #1742
Status:EVALUATION

[2022-08-25 21:06] Aloento commented on #1740
Status:SELECTED FOR DEV

[2022-08-25 21:08] Aloento commented on #1680
Agree that an Action can be set up.

[2022-08-25 21:09] Aloento commented on #1680
Agree that an Action can be set up.
@anton-sidelnikov @artem-lifshits

[2022-08-25 21:10] Aloento commented on #1674
https://github.com/golang/go/issues/33097 closed and merged
@outcatcher

[2022-08-25 21:14] Aloento commented on #1441
Can you provide more details?

[2022-08-25 21:16] Aloento commented on #1425
Are you referring to this?
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/search?q=ValueSpecs

[2022-08-25 21:17] Aloento commented on #1337
Status:SELECTED FOR DEVE

[2022-08-25 21:17] Aloento commented on #1337
Status:SELECTED FOR DEV

[2022-08-25 21:23] Aloento commented on #1227
Any news? @lego963

[2022-08-25 21:23] Aloento commented on #1166
Status:EVALUATION

[2022-08-25 21:25] Aloento commented on #1155
@artem-lifshits do you know something about this?

[2022-08-25 21:26] Aloento commented on #1148
Status:EVALUATION

[2022-08-26 05:27] lego963 commented on #1425
@Aloento yes

[2022-08-26 06:39] vladimirvshivkov commented on #1899
@CHS-OTC
Hi!
According to lts documentation, ttl_in_days parameter is fixed to 7.
API doesn't accept any other values.
If it is important for you to set ttl different from 7 in range from 1 to 30, we may raise internal ticket.

[2022-08-26 06:42] rramge commented on #1896
Well, then it should be added (https://www.terraform.io/plugin/sdkv2/resources/import) or a datasource be provided.

[2022-08-26 06:57] CHS-OTC commented on #1899
yes, you are right. i was misleaded by the error message:
"error_code":"LTS.0106","error_msg":"The log group TTL day must be integer and between 1 and 30"
it doesnt matter what number you define for the ttl in the api call it is always set to 7 in the console.
then I dont think it is necessary to provide a parameter but better hardcode it so it is always set to 7. Because the problem in TF is stil

[2022-08-26 07:07] #1701 closed, assigned to Aloento

[2022-08-26 08:45] vladimirvshivkov commented on #1899
ok, will fix it

[2022-08-27 16:25] anton-sidelnikov commented on #1894
Hi Ralf,
https://gitlab.ict.technology/ioda/tf/modules/terraform-opentelekomcloud-autoscaling/-/blob/main/variables.tf
At 136, you set size to 1, this parameter conflicts with percentage, i will add additional validation.
Error description I found here: https://docs.otc.t-systems.com/as/doc/download/pdf/as-api.pdf

[2022-08-29 05:59] rramge commented on #1894
Ah okay. I set this default, because the documentation states "The value is an integer from 0 to 300. The default value is 1."
So the documentation is not correct, and I'll change my default to null.

Thanks for checking this!

[2022-08-29 05:59] #1894 closed, assigned to anton-sidelnikov

[2022-08-29 09:00] rramge opened #1906 "Error deleting OpenTelekomCloud Neutron Router Interface: Internal Server Error"
# Terraform provider version

Terraform v1.3.0-alpha20220803
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.1

# Affected Resource(s)

opentelekomcloud_networking_router_v2
opentelekomcloud_networking_router_interface_v2

# Terraform Configuration Files

You can find a working example for reproducing the error here: [https://gitlab.ict.technology/ioda/tf/tu

[2022-08-29 16:04] artem-lifshits commented on #1906
Hello @rramge I've created a TF file based on your links and output:

[code]
Output on `terraform destroy`:
[code]

For me it's passing without any issue, is there something else that I'm missing in configurations?

[2022-08-29 16:08] shaderecker commented on #1844
Hi @artem-lifshits,
I'm back from vacation and tested the new provider version 1.31.1.
However it seem that I still get rate limited. It is the same error message as before.

[2022-08-29 16:59] artem-lifshits commented on #1844
Hello @shaderecker I've opened an internal ticket on requests limit increase for IAM components:
https://jira.tsi-dev.otc-service.com/browse/DM-4807

[2022-08-30 11:40] rramge opened #1909 "opentelekomcloud_sfs_turbo_share_v1 IaC Single Source of Truth violation"
# Terraform provider version

any

# Affected Resource(s)

opentelekomcloud_sfs_turbo_share_v1

# Expected Behavior

The Terraform / IaC code must be the "Single Source of Truth". The infrastructure must look exactly as _defined in the code_. This is also relevant for audits of any form, e.g. security audits.

# Actual Behavior

Quote from documentation:

[code]

If this is really the case, please

[2022-08-30 11:44] rramge commented on #1906
@artem-lifshits

Thanks so far for your time and the code you provide. I gave it a quick shot and, while playing around with it, I ran into some other problems I need to sort first.

I will need a few days until I can deliver you the expected input. Please keep the ticket open until next week.

[2022-08-30 11:48] anton-sidelnikov commented on #1909
Hi. this is not related with tf provider, this is about "how" implemented this service. I agree that is a mess, i will try to contact the responsible team.

[2022-08-30 11:55] xopher-mc opened #1910 "elb opentelekomcloud_lb_listener_v2 doesn't have a way to set timeouts"
# Description of the enhancement
In the gui it is possible to set time outs for the listener
<img width="578" alt="image" src="https://user-images.githubusercontent.com/5712436/187430191-33ac7a0d-ba04-4670-948e-affe6144a354.png">

In console it appears that the elb.opentelekomcloud_lb_listener_v2  object does have a timeouts property, but it is not documented how to set it.

`"timeouts" = null /*

[2022-08-30 15:18] rramge commented on #1909
@anton-sidelnikov
I guessed so ( or feared so). Thanks for putting this on their plate again. As soon as we use SFS officially in SOTC, we will address this also from the client side.

[2022-08-30 15:18] #1909 closed, assigned to nobody

[2022-08-30 17:04] anton-sidelnikov commented on #1910
Hello @xopher-mc ,
Sorry, but api does not support timeouts feature for v2. Internal incident created: OST-17914

[2022-08-31 13:20] DasLeo opened #1911 "WAF feature to adjust/set alarm page"
Possibility to set the `alarm_page` using `opentelekomcloud_waf_domain_v1`
![Screenshot 2022-08-31 at 15 11 46](https://user-images.githubusercontent.com/3002846/187687558-5ea6c108-98bb-4c2a-98b3-1258a99301ae.png)

[2022-08-31 15:51] anton-sidelnikov commented on #1911
@DasLeo Hi, currently we do not have an API for this

[2022-09-01 06:08] DasLeo commented on #1911
Hey @anton-sidelnikov,

thanks for the feedback.
So what's the proper process in that case, will you file a feature request to Huawei or will this never be implemented then?

[2022-09-01 06:14] anton-sidelnikov commented on #1911
@DasLeo yesterday, I've created internal incident about this, so waiting for response

[2022-09-01 08:51] anton-sidelnikov commented on #1901
Currently k8s metadata for nodes not exposed in Swiss, created internal incident ES-569.

[2022-09-01 15:59] enriquec-kaia commented on #1897
I am also running into this problem, is there a workaround for this issue at the moment?

[2022-09-01 16:00] anton-sidelnikov commented on #1897
@uli-max @enriquec-kaia on which region you tries to create DCS?

[2022-09-01 16:01] anton-sidelnikov commented on #1897
Probably your problem with right choose of spec_code (flavor) for instance

[2022-09-01 16:04] enriquec-kaia commented on #1897
I am trying to create the DCS in `eu-de-01` (primary), and `eu-de-02`.   Let me change the spec_code (flavor) and see if I can get it to provision the redis 5.0 cluster

[2022-09-01 16:06] anton-sidelnikov commented on #1897
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/pull/1912/files - added example

[2022-09-01 16:28] enriquec-kaia commented on #1897
thank you @anton-sidelnikov ... got one more question, what is the correlation of the spec_code (flavor) and the capacity? ... I was able to successfully create a redis 5.0 cluster by using your example pointed above ... thank you for that

[2022-09-01 16:48] anton-sidelnikov commented on #1885
Released with new doc

[2022-09-01 16:49] #1885 closed, assigned to anton-sidelnikov

[2022-09-01 16:49] anton-sidelnikov commented on #1889
Released with changes

[2022-09-01 16:49] #1889 closed, assigned to anton-sidelnikov

[2022-09-01 16:50] artem-lifshits commented on #1872
Hello @uli-max bucket creation should be working in new terraform ``v1.31.2``, please check.

[2022-09-01 16:50] #1872 closed, assigned to anton-sidelnikov, artem-lifshits

[2022-09-01 16:51] anton-sidelnikov commented on #1898
Released with new datasource

[2022-09-01 16:51] #1898 closed, assigned to anton-sidelnikov

[2022-09-01 16:52] artem-lifshits commented on #1886
Hi @generalpax bucket creation is fixed in the latest provider update ``v1.31.2``, please check.

[2022-09-01 16:52] #1886 closed, assigned to artem-lifshits

[2022-09-01 16:52] anton-sidelnikov commented on #1894
Released with additional validation

[2022-09-01 16:53] anton-sidelnikov commented on #1895
Released

[2022-09-01 16:53] #1895 closed, assigned to anton-sidelnikov

[2022-09-01 16:54] anton-sidelnikov commented on #1897
Released with updated doc, please check

[2022-09-01 17:00] anton-sidelnikov commented on #1897
For versions above 3.0, the last number of flavor point to capacity,
redis.ha.xu1.large.r2.2 = capacity 2
redis.ha.xu1.tiny.r2.128 = capacity 0.125 (tiny)
something like than, but we also do not have proper mapping docs.

[2022-09-02 05:36] rramge commented on #1906
Hi,

while playing around with that basic code you included in your comment here, I have some pretty strange results, meaning that the content I have in my statefile is very different to what I see in the OTC webconsole.
This probably warrants at least one new issue, so I put this one on hold for now und update it later.

[2022-09-02 06:09] rramge opened #1913 "Different Networking information in state than in webconsole"
Hi,

there is something I really don't understand and which keeps me totally baffled right now. Maybe because it's Friday and I had a tough week and my brain went FUBAR (pardon me if that's the case), but maybe I am onto something here.
This is related to #1906.

# Terraform provider version

Terraform v1.3.0-alpha20220817
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/openteleko

[2022-09-02 07:01] uli-max commented on #1872
I can confirm it is now working!
opentelekomcloud_obs_bucket.tf_remote_state: Creating...
opentelekomcloud_obs_bucket.tf_remote_state: Creation complete after 1s [id=eu-ch2-uli-cce-showcase-v2-tfstate]

Apply complete! Resources: 3 added, 0 changed, 0 destroyed.

Thanks !!!

[2022-09-02 15:17] anton-sidelnikov commented on #1913
@rramge Hi, our go sdk based on openstack, but console not represent the openstack naming of the resources, please rely on statefile

[2022-09-02 16:09] Aloento commented on #1896
The query function is already under development.

[2022-09-02 16:40] artem-lifshits commented on #1913
Hello @rramge that's the issue with Openstack/AWS naming conventions which is pretty misleading.
VPC for OTC is basically a router and information on network can't be really seen in console except for ``network id`` if ``router_interface`` is set up for it.

Network and subnet info can be seen in tfstate file/API/[otcextensions](https://github.com/opentelekomcloud/python-otcextensions).

Here's ho

[2022-09-02 17:00] Aloento opened #1914 "[BMS] SDK Changed"
https://github.com/opentelekomcloud/gophertelekomcloud/pull/403

[2022-09-02 20:38] enriquec-kaia commented on #1897
I am running into the following issue ... when product_id is set to `redis.ha.xu1.large.r3.4` instance type `master\standby` the cluster gets provisioned properly, when I tried to provisioned a `single_node` instance type (smaller) with the following product_id `redis.single.xu1.tiny.128` I am receiving the error below
[code]
it seems like only `ha` types (flavors/produc_id) are supported, but I w

[2022-09-05 04:33] rramge commented on #1913
Okay, thanks for those details. But I am still struggling with this part: How can I place an ECS instance in a subnet?

[code]

[code]

[2022-09-05 04:44] anton-sidelnikov commented on #1913
Hello, thats strange i can only find configs with opentelekomcloud_vpc_subnet_v1. I will check opentelekomcloud_networking_subnet_v2
[code]

[2022-09-05 04:57] anton-sidelnikov commented on #1913
Example for v2 network, subnet attaching through port:
[code]

[2022-09-05 06:40] rramge commented on #1913
Well, that's messy, but let's give it a try.

[code]

It leads to:

[code]
As you can see in the network_id lines I commented out, using the subnet id and the network itself were also fruitless.
EDIT: Please remember from earlier in this issue, I can also not see this subnet in the webconsole, but it is in the state.

But when I destroy everything, and applying it again multiple times, I SOMETIMES

[2022-09-05 07:28] rramge commented on #1913
I found a way to make it work ( but it leads to new errors during apply and destroy phases).

It works when using this module (total source is too much to quote here): [https://gitlab.devops.telekom.de/tsystemsalpine/io4da/tf/modules/terraform-opentelekomcloud-compute_instance](https://gitlab.devops.telekom.de/tsystemsalpine/io4da/tf/modules/terraform-opentelekomcloud-compute_instance)

And using

[2022-09-05 07:28] #1913 closed, assigned to nobody

[2022-09-05 07:33] rramge commented on #1906
This issue happens (not always, but often) during the deletion of a networking_subnet and the involved networking_router_interface_v2 after a compute instance had been deployed in the subnet at some point in time.

But with looking at #1913 , I close this ticket for now because I don't see a chance yet to resolve it with the given OTC implementation.

[2022-09-05 07:33] #1906 closed, assigned to artem-lifshits

[2022-09-05 11:57] d0schuma opened #1915 "Firewall updated in-place for source & destination port (from value to empty) not working"
# Terraform provider version
[code]

# Affected Resource(s)
- opentelekomcloud_fw_rule_v2

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce

1. `terraform apply -auto-approve`

# Expected Behavior
Existing firewall rules should be able to changed with empty values.

# Actual Behavior
Example to change an already existing rule.
[code]
Updated in-place

[2022-09-05 12:45] artem-lifshits commented on #1826
Hello @rramge you are using `storage_class` in `noncurrent_version_expiration` while it's not supported in `S3` resource. Maybe it's not the issue but that's the first that I noticed here.

So the end setting would be like this:
[code]

Which was working for me:
[code]

[2022-09-05 16:56] artem-lifshits commented on #1850
Hello @shaderecker can you please check if the issue remains now?

[2022-09-06 05:24] vladimirvshivkov commented on #1914
[code]

[2022-09-06 06:11] shaderecker commented on #1850
Hi @artem-lifshits, I cannot reproduce it right now.
So I will close the issue for now.

[2022-09-06 06:11] #1850 closed, assigned to artem-lifshits

[2022-09-06 06:29] rramge commented on #1826
@artem-lifshits I am pretty sure that this DeregisterUserId has been connected to an issue which appeared in our eu-de environment after an OTC update back then, which caused everything to work but totally closed us out of Object Storage operations, including on the webconsole. I guess somehow our tenancy admins became "Deregistered Users" or something like that.
This has lead to an OTC internal i

[2022-09-06 12:29] artem-lifshits commented on #1826
@rramge I see, if there's some update on the issue please reopen.

Closing for now.

[2022-09-06 12:29] #1826 closed, assigned to artem-lifshits

[2022-09-06 17:23] anton-sidelnikov commented on #1897
Please attach your config

[2022-09-06 17:40] anton-sidelnikov commented on #1897
this works for single node
[code]

[2022-09-06 18:30] #1914 closed, assigned to Aloento

[2022-09-07 08:56] rramge opened #1918 "cbr_vault_v3 bind_rules?"
Quote from documentation:
[bind_rules](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/cbr_vault_v3#bind_rules) - (Optional) Rules for automatic association.

This is a bit too unprecise ;-)   When trying to implement a module, Terraform error messages hinted towards this not being a variable, but an entire optional block. And there seem to be variab

[2022-09-07 11:13] artem-lifshits commented on #962
Hello @apurvdeodhar while this is still in progress I've found a workaround on how to create ``cloud service agency`` with current ``opentelekomcloud_identity_agency_v3`` resource.

Looks like that every service agency relies on custom ``trusted_domain`` which, depending on the id, gives service cloud access for agency.

So if you know this id you can provide it in ``trust_domain_id`` field and ag

[2022-09-07 12:53] artem-lifshits commented on #985
Hello @iitsBergenol ``RBAC`` mode can be seen now after providing parameters for ``authentication mode`` in provider:
![Screenshot 2022-09-07 at 15 52 53](https://user-images.githubusercontent.com/55093318/188883090-8615a7ad-3481-464d-9291-da3a369d823f.png)

Please check.
Closing the ticket, if the issue persists - please reopen it.

[2022-09-07 12:59] #985 closed, assigned to artem-lifshits

[2022-09-08 05:46] #1901 closed, assigned to anton-sidelnikov

[2022-09-08 11:39] arenk opened #1921 "Information about possible CCE cluster versions not clear"
A `cluster_version` can be specified for the resource `opentelekomcloud_cce_cluster_v3`. The documentation mentions only v1.17.9-r0 and v1.19.8-r0 as possible values, with a reference to the CCE API documentation

The CCE API says:

However, in the dashboard, the versions displayed are only v1.21 and v1.19 - which is not an accepted value since the suffix (e.g -r0) is missing. One could guess the

[2022-09-08 12:41] rramge commented on #1921
When I played around with 1.12.1 last week, I had trouble with configuring the autoscaler for this version. Maybe it was me, but my code worked with 1.19.8-r0, so it might be worth reviewing.

[2022-09-08 13:41] IngIhorMuzychka opened #1922 "Changing of subnet's DNS settings is not a one-step process"
Hі, colleagues!

I met with the strange work of opentelekomcloud_vpc_subnet_v1.
When I create a resource without specifying the primary and secondary DNS I get the expected result (with default values):
[code]
When I try to add or change existing values ​​in the created resource (for example, secondary DNS) and do not touch the primary one, it looks good on the plan, but after applying these chang

[2022-09-08 14:48] generalpax commented on #1227
plus one

[2022-09-08 14:53] anton-sidelnikov commented on #1534
Solution above

[2022-09-08 14:53] #1534 closed, assigned to nobody

[2022-09-08 15:15] artem-lifshits commented on #1921
Hello @arenk you can check available CCE versions here:
https://docs.otc.t-systems.com/usermanual2/cce/cce_bulletin_0068.html

[2022-09-08 15:25] arenk commented on #1921
@artem-lifshits thanks for the quick response and the link!
 Looking at the version tags, I assume they won't work after v1.17.9-r0 (missing details, e.g. it's not 1.21 but v1.21.1-r1)

[2022-09-08 16:03] artem-lifshits commented on #1921
@arenk yep I went over docu and looks like patch versions were removed after v1.17.9-r0 and minor version after v1.19.10:
https://docs.otc.t-systems.com/usermanual2/cce/cce_bulletin_0003.html

[2022-09-08 16:28] anton-sidelnikov commented on #1922
@IngIhorMuzychka Hi this is a bug, created internal incident ONS-11395

[2022-09-09 08:53] artem-lifshits commented on #1921
@arenk @rramge I've created a discussion with CCE supported versions for easier cluster management: #1927

[2022-09-09 08:53] #1921 closed, assigned to artem-lifshits

[2022-09-12 09:41] rramge opened #1928 "logtank_topic_v2: Error 415 Unsupported Media Type"
# Terraform provider version

Terraform v1.3.0-alpha20220817

on linux_amd64

+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.1

# Affected Resource(s)

module.logtank.opentelekomcloud_logtank_topic_v2

# Terraform Configuration Files
[code]

[code]

[code]

# Debug Output/Panic Output

[code]

# Steps to Reproduce

1. `terraform apply`
2. `terraform destroy`

# Expected B

[2022-09-12 09:46] vladimirvshivkov commented on #1928
The issue was fixed in #1908 and prepared to release on wednesday.

[2022-09-12 10:19] rramge commented on #1928
Okay, bad timing from my side, didn't see it :-) Thanks!

[2022-09-12 10:19] #1928 closed, assigned to vladimirvshivkov

[2022-09-12 11:53] artem-lifshits commented on #1155
Hello @robert1x2 I checked DCS Redis and wasn't able to find ``TLS`` setting in ``public access``.
It's either removed or I'm looking in the wrong place, please help me there.

[2022-09-12 12:00] artem-lifshits commented on #1231
Hello @DanielHabenicht Storage squad has performed several changes for OBS firewall settings, can you please check if the issue still persists?

[2022-09-12 12:07] DanielHabenicht commented on #1231
Unfortunately I do not have access to this Project anymore. So you can close it if you confirmed it yourself :),

[2022-09-12 12:09] artem-lifshits commented on #1231
@DanielHabenicht I see, thank you for fast reply.

[2022-09-12 12:09] #1231 closed, assigned to artem-lifshits

[2022-09-12 15:17] artem-lifshits commented on #1441
Hi @outcatcher can you please elaborate?

[2022-09-12 19:54] outcatcher commented on #1441
This is related to https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/devel/scripts/run-acceptance.sh
There is currently a diff check to decrease number of tests run as acceptance tests to the scope of changed code only.

This script is actually not used in CI, as zuul works with git in a very extravagant way, so we put the idea on hold.

[2022-09-13 06:57] artem-lifshits opened #1929 "[CSS]: Cluster creation fails without provided ``datastore`` parameters"
# Terraform provider version
Terraform v1.2.9
on darwin_arm64
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.2

# Affected Resource(s)
- opentelekomcloud_css_cluster_v1

# Terraform Configuration Files
Configuration taken from ``css_cluster_v1`` documentation:
[code]

# Steps to Reproduce
`terraform apply`

# Expected Behavior
Resource is created

# Actual Behavior
[code]

[2022-09-13 07:14] rramge opened #1930 "sdrs_protectiongroup_v1 please clarify domain_id"
Hello,

The documentation states:
[domain_id](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/sdrs_protectiongroup_v1#domain_id) - (Required) Specifies the ID of an active-active domain.

The given example is not helpful:

[code]

There is a datasource, sdrs_domain_v1, but this one requires the name of an already existing domain:

[name](https://regi

[2022-09-13 07:47] artem-lifshits commented on #1930
Hello @rramge ``active-active domain`` can be checked via ``data-source/sdrs_domain_v1``. Resource ID will be the one for ``active-active domain``.

 I will fix documentation with additional info & examples.

[2022-09-13 07:54] rramge commented on #1930
@artem-lifshits Yes, I saw the datasource, but it didn't help.
If one already exists, how can I find out the name?
If none already exists, how can I create it?

[2022-09-13 08:09] artem-lifshits commented on #1930
@rramge at the moment there's only one ``active-active domain`` available with no way to create additional one.
``Name`` parameter can be specified in case OTC supports more ``active-active domains`` in the future.

So I suggest using data source without specifying any name:
`data "opentelekomcloud_sdrs_domain_v1" "dom_1" {}`

[2022-09-13 09:30] #1929 closed, assigned to artem-lifshits

[2022-09-13 11:21] artem-lifshits commented on #1555
`affinity` policy was never supported for ECS group, this is a documentation bug.

[2022-09-13 13:34] lego963 commented on #1227
@Aloento I don't know about any progress here and cannot proceed. Maybe @anton-sidelnikov @artem-lifshits @vladimirvshivkov can help you here.

[2022-09-13 14:39] #1555 closed, assigned to artem-lifshits

[2022-09-13 14:59] artem-lifshits commented on #1605
Hello @0x1DA117 looks like issue has been fixed, can you recheck please?

I was able to create alarm rule with 3 dimensions and status is ``enabled`` in OTC console.

[2022-09-14 08:39] artem-lifshits commented on #1025
Hello @Moep90 kubeProxyMode is now available, please check.

[2022-09-14 08:39] #1025 closed, assigned to artem-lifshits

[2022-09-14 08:40] artem-lifshits commented on #1930
@rramge documentation was fixed in the latest release ``v1.31.3``.

[2022-09-14 08:40] #1930 closed, assigned to artem-lifshits

[2022-09-14 08:41] artem-lifshits commented on #1918
@rramge documentation changes were applied in the latest release ``v1.31.3``.

[2022-09-14 08:41] #1918 closed, assigned to anton-sidelnikov

[2022-09-14 10:20] vladimirvshivkov commented on #1899
fixed in new release

[2022-09-14 10:20] #1899 closed, assigned to vladimirvshivkov

[2022-09-14 11:15] robert1x2 commented on #1777
Any updates here? When will it come?

[2022-09-14 12:24] artem-lifshits commented on #1911
Corresponding ticket: https://jira.tsi-dev.otc-service.com/browse/OTCSEC-3956

[2022-09-14 12:52] artem-lifshits commented on #1825
https://jira.tsi-dev.otc-service.com/browse/ONS-10800

[2022-09-14 15:40] robert1x2 commented on #1155
Please close my request.

[2022-09-14 15:41] #1155 closed, assigned to artem-lifshits

[2022-09-14 16:24] shaderecker opened #1934 "Unable to create users"
# Terraform provider version

Terraform v1.2.9
on linux_amd64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.3

# Affected Resource(s)

opentelekomcloud_identity_user_v3.user

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

https://gist.github.com/shaderecker/475e04cdd8ae31c18ac555c371f09961

# Steps to Reproduce

1. `terraform apply`

# Expected Beha

[2022-09-15 05:46] rramge commented on #1934
I just verified and I can reproduce this error with my module.  It is indeed a new behaviour.

[2022-09-15 07:16] rramge opened #1935 "[vpcep_endpoint_v1] Please state the whitelist variable type"
Hi,

the documentation states:

[whitelist](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/vpcep_endpoint_v1#whitelist) - (Optional) Specifies the whitelist for controlling access to the VPC endpoint.

It is not clear what variable type / content is required here. list(string)? jsonencode(string)? Something else? Can you please clarify this?

Thanks

[2022-09-15 08:15] 0xd3e commented on #1605
Hi thanks for your work and the information that the issue has been fixed.
Currently I'm working on a different project, so I cannot recheck.

Since you were able to create the rule correctly I'd suggest to close the issue.

[2022-09-15 08:19] #1605 closed, assigned to artem-lifshits

[2022-09-15 09:13] vladimirvshivkov commented on #1915
created internal ticket https://jira.tsi-dev.otc-service.com/browse/ONS-11460

[2022-09-15 10:05] artem-lifshits commented on #1934
Hello @shaderecker thank you for report, fix is on the way.

And please don't hesitate to open an issue here / pm me in Zulip right when you have found an issue.

[2022-09-16 07:09] vladimirvshivkov commented on #1777
in next release

[2022-09-17 15:26] Moep90 opened #1939 "[Docs] opentelekomcloud_identity_user_v3"
Update the attribute reference.

Versions:
[code]

Undocumented are at least (tested):

[code]

[2022-09-19 04:12] artem-lifshits commented on #1935
Hello @rramge whitelist here is a list of strings in format:
``whitelist = [ "value1", "value2" ]``
I will update this part of documentation, thank you.

[2022-09-19 04:37] artem-lifshits opened #1940 "[VPCEP]: Resource creation broken (error unmarshaling Json)"
# Terraform provider version
Terraform v1.2.9
on darwin_arm64
+ provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.30.1

# Affected Resource(s)
- opentelekomcloud_vpcep_endpoint_v1

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
https://gist.github.com/artem-lifshits/8ec835cf33dc4c94531b6a8bc40bcd7c

# Steps to Reproduce

1. `terraform apply`

# Expected Behav

[2022-09-19 06:40] artem-lifshits commented on #1940
Response parameter `active-status` type was changed from `string` to `[]string`.
Internal ticket: https://jira.tsi-dev.otc-service.com/browse/ONS-11493
Corresponding documentation: https://docs.otc.t-systems.com/api/vpcep/vpcep_06_0303.html

Waiting for a reply whether it'll be fixed or changes needs to be implemented on provider side.

[2022-09-19 12:26] artem-lifshits commented on #1939
Hello @Moep90.

Every resource in OTC provider has an ``id`` and would have the same reference for every resource.
Therefore ``id`` argument is not included in documentation.

Name is ``required`` argument for ``opentelekomcloud_identity_user_v3``, here's the screenshot:
![Screenshot 2022-09-19 at 15 20 55](https://user-images.githubusercontent.com/55093318/191016598-398f1a1a-0aaf-42a1-80a2-a71453

[2022-09-20 07:27] #1897 closed, assigned to anton-sidelnikov

[2022-09-20 07:36] anton-sidelnikov commented on #1910
Sorry but it will not be fixed, info from devs: Actually Elbv2 (Shared load balancer) can not modify its listener timeout values due to its shared nature. This feature was introduced for dedicated loadbalancers (Elbv3) but since the console interface is shared, the setting can be seen for ELBv2 as well. customers will be notified via the GUI that timeout values are not applicable to ELBv2, thanks

[2022-09-20 07:36] #1910 closed, assigned to nobody

[2022-09-20 08:25] anton-sidelnikov commented on #1742
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/issues/1742#issuecomment-1136039831 - currently is the preferred (and only possible) way

[2022-09-20 08:25] #1742 closed, assigned to nobody

[2022-09-20 11:44] anton-sidelnikov commented on #1860
@rramge Please check again, currently it works at least for 40gb images

[2022-09-20 12:11] rramge commented on #1860
@anton-sidelnikov I tested again as requested.

If the Disk size is exactly 40 GB, uploading works and the image is ready for use in the web console.
All other sizes (lower and higher) fail with the described behaviour.

KR,

Ralf

[2022-09-21 11:22] dpakes commented on #1896
Hello, I'm sorry if it was already explained, but it's not clear to me from the answers.
There is no option to use "alarm_type" as an argument in opentelekomcloud_ces_alarmrule so we are not able to create that resource with "Event monitoring" as alarm type. Will this option be implemented in the near future?

Also, it would be nice to have a possibility in terraform to user Alarm templates which

[2022-09-21 12:48] Aloento commented on #1896
Ok, this new API about this now already available.
SDK and document will update soon.

[2022-09-22 08:24] artem-lifshits commented on #1934
@shaderecker @rramge new release was published, please check.

[2022-09-22 08:25] artem-lifshits commented on #1935
Hello @rramge new provider version was released, please check.

[2022-09-22 08:28] artem-lifshits commented on #1940
Issue fixed in the latest release.

[2022-09-22 08:28] #1940 closed, assigned to artem-lifshits

[2022-09-22 08:28] artem-lifshits commented on #1935
Hello @rramge changes released in latest release.

[2022-09-22 08:28] #1935 closed, assigned to artem-lifshits

[2022-09-22 08:29] #1934 closed, assigned to artem-lifshits

[2022-09-22 08:51] rramge commented on #1935
Looks good, thank you.

[2022-09-22 08:53] artem-lifshits commented on #1939
@Moep90 please reopen the ticket if you have other concerns.

[2022-09-22 08:53] #1939 closed, assigned to artem-lifshits

[2022-09-22 08:57] anton-sidelnikov commented on #1860
@rramge Please reproduce again, and attach latest error

[2022-09-22 09:14] rramge commented on #1860
@anton-sidelnikov sure. Here you go. As you can see in the lines at the top, the 40 GB image worked, others (32 and 64 GB)  failed during the process.

[code]

[2022-09-22 09:23] marco4320 commented on #1227
Just solved the issue for SwissOTC by applying all the suggestions from above. Please improve documentation on the swr_addr property. It turned out that "swr_addr" : "100.125.7.25:20202" will never work for SwissOTC...

[2022-09-22 12:39] shaderecker commented on #1934
Hi @artem-lifshits thank you very much! It now works again with the new release. 🎉

[2022-09-22 17:55] #1883 closed, assigned to artem-lifshits

[2022-09-26 11:37] panikgaul opened #1945 "Unbind EIP from opentelekomcloud_lb_loadbalancer_v2 does not work"
# Terraform provider version
[code]
# Affected Resource(s)
[code]

# Terraform Configuration Files

Original with binded EIP on loadbalancer:

[code]

Unbind EIP from loadbalancer with set `pord_id = ""` :

[code]

# Debug Output/Panic Output
[code]

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

When setting `port_id = ""` the EIP should be withdrawn from the loadbalancer. That

[2022-09-27 20:59] eumel8 commented on #1844
Hi @artem-lifshits,

you have an answer from the internal ticket? I have the same error message on creating an ELB with 3 pools and 2 servers and when I remember right you already optimized token handling in this area.

thx

[2022-09-29 10:53] sandipamte opened #1948 "Facing challenge while creating CTS Key Event Notification service using Terraform."
# Terraform provider version
Terraform v1.0.11

# Affected Resource(s)
Please list the resources as a list, for example:
- opentelekomcloud_cts_tracker_v1

# Terraform Configuration Files
[code]

# Actual Behavior
Using above code, I am able to create/enable CTS Tracker, SMN Topic and Subscription.
In CTS service, we want to create Key Event Notification which will connect this tracker to SMN topi

[2022-09-29 20:17] anton-sidelnikov commented on #1948
@sandipamte Did you check the doc https://docs.otc.t-systems.com/en-us/api/cts/en-us_topic_0168602251.html?

- is_send_all_key_operation - You can select Typical or All for Trigger Condition.

- operations

[2022-09-30 09:55] Tobeje commented on #1227
You are missing the Tenant_id... It also took me a few month until i found it :/
`resource "opentelekomcloud_cce_addon_v3" "auto-scaler" {
  template_name    = "autoscaler"
  template_version = "1.19.1"
  cluster_id       = opentelekomcloud_cce_cluster_v3.cluster_1.id

  values {
    basic = {
      "cceEndpoint": "https://cce.eu-de.otc.t-systems.com",
      "ecsEndpoint": "https://ecs.eu-de.otc.t

[2022-09-30 10:20] Tobeje opened #1949 "Add EulerOS 2.9 Support"
# Description of the enhancement
EulerOS 2.9 is supported by the OTC and thus also brings the possibility to use the storage driver ClusterFS for Docker.

[2022-09-30 11:14] sandipamte commented on #1948
Hi,

Thanks for guidance, now I have made below change in the code which as follows.

resource "opentelekomcloud_cts_tracker_v1" "tracker_v1" {
  bucket_name               = "bpmaas-cts-logs"
  file_prefix_name          = "loadtest1"
  is_support_smn            = true
  topic_id                  = opentelekomcloud_smn_topic_v2.topic_1.id
  is_send_all_key_operation = true
  need_notify_user_list =

[2022-09-30 13:15] artem-lifshits commented on #1948
Hello @sandipamte maybe you already have CTS tracker created?
In that case it needs to be deleted from console first.

[2022-09-30 13:46] netclectic opened #1951 "RDS v3 instance does not pick up Region from Provider"
When creating a RDS instance with the `opentelekomcloud_rds_instance_v3` resource, the `region` parameter is not being picked up from the value configured in the provider.

# Terraform provider version
- Terraform v1.3.0
- windows_amd64
- provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.4

# Affected Resource(s)
- opentelekomcloud_rds_instance_v3

# Terraform Configuration Fi

[2022-10-03 18:51] artem-lifshits commented on #1951
Hello @netclectic I'm trying to reproduce the issue but no luck so far.
Would you be so kind to provide your Terraform code so I could check directly in TF?
Thanks.

[2022-10-03 20:58] netclectic commented on #1951
I made a test repo - https://github.com/netclectic/TerraformOTCRDSv3Test

Obviously, you'll need to replace various entries in variables.tf

[2022-10-04 07:03] sandipamte commented on #1948
I am able to create CTS Tracker, topic, subscription, and Key Event Notification service manually in OTC.
After tested the setup we have deleted it.
Now we are creating same setup using terraform.
Using above code, we are able to create CTS Tracker, topic, subscription using terraform. But not able to create Key Event Notification in CTS using terraform.
Could you please guide us to create Key Eve

[2022-10-04 14:01] artem-lifshits commented on #1948
@sandipamte I've checked the API for CTS.
Sadly the API for CTS notifications isn't released yet, only tracker management is available at the moment:
https://docs.otc.t-systems.com/en-us/api/cts/en-us_topic_0168602232.html

When API is released we will be able to implement notifications feature.

[2022-10-05 11:17] vladimirvshivkov commented on #1777
Feature is released in 1.31.5.
There 2 new fields: password and crypted password.
API requiers ssh private key for password decryption.
If you will set the `ssh private key path` you will get the plain password, otherwise you'll get encrypted.
Check documentation for command for password decryption.
API returns password after 5-10 minutes after instance creation.

If you will get any issues, pleas

[2022-10-05 11:17] #1777 closed, assigned to vladimirvshivkov

[2022-10-05 13:22] simonszu opened #1954 "Imported ECS key pair still is to be recreated"
# Terraform provider version
provider registry.terraform.io/opentelekomcloud/opentelekomcloud v1.31.4

# Affected Resource(s)
opentelekomcloud_compute_keypair_v2

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
[code]
# Steps to Reproduce
1. Upload SSH key / generate key pair for the user who is logging in to the OTC API via Terraform
2. Make sure the key pair has the same publ

[2022-10-05 13:35] simonszu commented on #1954
I have compared the public key in the terraform state to the one i am providing as an argument to the module. They are exact identical.
For now i have made this workaround:
[code]

[2022-10-05 13:58] vladimirvshivkov commented on #1954
Hi, @simonszu

I suggest changing `ForceNew: true` param to false in `opentelekomcloud_compute_instance_v2` to avoid instance recreation in cases like this.
But is it only about ECS or CCE nodes as well?

[2022-10-05 14:05] simonszu commented on #1954
Hi,
this is especially for CCE nodes which are managed by a node pool. A change/recreation of the key pair ressource would cause the node pools to be recreated as well.

Your suggestion sounds like a workaround, though. I do not really understand why TF wants to recreate the key pair, although it was imported right now, and the name and the public key are absolutely identical.

[2022-10-05 14:29] vladimirvshivkov commented on #1954
I think i found the bug, will try to fix

[2022-10-05 14:44] vladimirvshivkov commented on #1954
Oh, wait. I cannot reproduce the bug.
It works fine for me.
Could you send here the value of `var.ssh_pubkey`?
[code]

[2022-10-05 14:47] vladimirvshivkov commented on #1954
tested TF manifest:
[code]

[2022-10-06 06:18] simonszu commented on #1954
Yeah, sure. The resource definition is the same as i posted yesterday, with the workaround. The `var.ssh_pubkey` looks like this:
[code]
If you compare it to the output i posted in the opening post, you will see that it is identical.

I should mention that this happens not only in this case. We have 3 workspaces in our manifest project to deploy 3 similar setups. In all setups the key was auto-gen

[2022-10-06 08:15] artem-lifshits commented on #1948
Waiting for API implementation to implement provider support.

[2022-10-06 08:19] lego963 commented on #1844
@eumel8 yes, you are right. We did improvements there. Can you paste here resources which you use?

[2022-10-06 08:54] artem-lifshits commented on #1948
Internal ticket: https://jira.tsi-dev.otc-service.com/browse/RM-3679

[2022-10-06 19:54] anton-sidelnikov commented on #1945
Fixed in latest release

[2022-10-06 19:54] #1945 closed, assigned to anton-sidelnikov

[2022-10-06 19:54] anton-sidelnikov commented on #1949
Fix released

[2022-10-06 19:54] #1949 closed, assigned to anton-sidelnikov

[2022-10-06 19:56] anton-sidelnikov commented on #1227
Added additional notes to templates

[2022-10-06 19:56] #1227 closed, assigned to nobody

[2022-10-07 09:06] vladimirvshivkov commented on #1954
could you please share your manifests?
I guess problem may be somewhere in them.

[2022-10-07 09:51] simonszu commented on #1954
Sure. This is the resource definition of the CCE module in the manifests collection: https://pastebin.com/bS6yMyBY

[2022-10-07 10:33] simonszu opened #1956 "EIP management in 1.31.5 un-assigns public IP from CCE instance"
# Terraform provider version
1.31.5

# Affected Resource(s)
- opentelekomcloud_vpc_eip_v1
- opentelekomcloud_cce_cluster_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
Terraform will perform the following actions:
[code]
# Steps to Reproduce

1. `terraform apply`

# Expected Behavior
- The EIP should get created
- The CCE should take up the EIP as the IP address of its API

[2022-10-07 12:50] eumel8 commented on #1844
@lego963 This problem is solved. I mixed up HTTP Listener with TCP Backend Server Group, which is not more tolerated on OTC site. I think terraform tried too often this API calls in a loop and I ended up with 409. Could be an option to compare this during the plan stage and raised this  as error without and API calls.

[2022-10-07 13:22] lego963 commented on #1844
@eumel8 great, but if you face this issue again please add comment here with your tf config.
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/issues/1848

[2022-10-07 17:35] anton-sidelnikov commented on #1956
@simonszu here is some kind of bug in tf for nested parameters which optional and computed - no way set it to nil. I revert compatibility, and add additional parameter for manual port unbind

[2022-10-10 06:47] k11h-de opened #1958 "identity_user_v3: add Login Protection (MFA)"
Hi team,

first off: thank you very much for providing such an extensive and well-documented Terraform provider for OTC. We're using it a lot. :thumbsup:

# Description of the enhancement

We're creating our user accounts with the [identity_user_v3](https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs/resources/identity_user_v3) resource. We do this for physical pe

[2022-10-10 13:49] k11h-de opened #1959 "data source opentelekomcloud_identity_role_v3: name vs. display_name"
Hi there, first of all: thanks a lot for your effort in providing this terraform provider :thumbsup:

I am truggeling using a `opentelekomcloud_identity_role_v3` data source to get a resource by it's **display_name**. A different team (using a different terraform context / state) creates a `opentelekomcloud_identity_role_v3` resource and I need to get it by it's `display_name` (as this follows a c

[2022-10-11 09:05] rhtot commented on #1741
Hi Rodion,

Just tested this and it works fine, from my point of view it is fixed. Also the workaround was working as well.

Thank you for the fast support!

Best Regards,
Robert

From: Rodion Gyrbu ***@***.***>
Sent: Monday, May 23, 2022 3:56 PM
To: opentelekomcloud/terraform-provider-opentelekomcloud ***@***.***>
Cc: Tóth, Róbert ***@***.***>; Mention ***@***.***>
Subject: Re: [opentelekomcloud/

[2022-10-12 11:04] vladimirvshivkov commented on #1954
on line 196  local_file resource recreates your ssh privkeys.
Try to change resource to datasource.
[code]

like this:
[code]

[2022-10-12 11:13] simonszu commented on #1954
Yes, but the problem is not the local file as i stated in the opening post:
[code]

[2022-10-12 11:24] vladimirvshivkov commented on #1954
That's correct because it generates a new private key.
I think it is about how you distribute your secrets.
Maybe it could be better to store keys for your team somewhere like Hashicorp Vault?

[2022-10-12 12:34] simonszu commented on #1954
Yes, this is definitely in planning.

However, even if i completely remove the local_file resource, Terraform still thinks that the public_key in the keypair resource differs from the public_key reported back from the OTC API, and therefore tries to recreate everything. The public key was imported before, as this was mentioned to me by the OTC support as the preferred way to do:

1. Import SSH key

[2022-10-12 13:29] nfelger opened #1961 "Resizing node pool with terraform causes unwanted scale-in"
Whenever I change my node pool's `max_node_count` with terraform, the nodes in the node pool gets scaled down to its `initial_node_count`. This means I lose running workloads in situations where I want to _add_ capacity, not reduce it.

Making the same change via the web UI works as expected and does not have this effect.

# Terraform provider version
Terraform v1.1.7
on darwin_amd64
+ provider re

[2022-10-13 07:04] k11h-de commented on #1959
Hi Artem, Hi OTC users

I was hoping I found a workaround for my above problem by maintaining a `map(string)` variable in Terraform like this:

## problem

[code]

but then I made further tests and found out the following:

1. I create the first custom policy
[code]
2. I create a second custom policy
[code]
3. I delete `mypolicy1`
4. When I create a third custom policy, the internal `name` from `m

[2022-10-14 11:50] artem-lifshits commented on #1959
Hello @k11h-de I think there's some mixture here regarding the roles.

`data "opentelekomcloud_identity_role_v3"` can query and return data of existing pre-defined system roles. At the moment there's no data source that can query custom roles.

I will create a new data source so custom roles could be queried.

[2022-10-15 06:29] k11h-de commented on #1959
Hi @artem-lifshits
Well, I was already successfully able to query custom roles. I needed to set `domain_id` . So it is definitely possible with the current version.

[2022-10-17 12:33] artem-lifshits commented on #1959
@k11h-de the fact that it's working this way is interesting but definitely not intended 😁

[2022-10-18 08:12] simonszu commented on #1954
OK, i have rebuilt the environment from scratch with the help of the manifests (per customer request, not because of this issue) and the issue is gone. Sorry for keeping you up with my trouble.

[2022-10-18 08:12] #1954 closed, assigned to vladimirvshivkov, anton-sidelnikov

[2022-10-18 11:11] simonszu opened #1967 "opentelekomcloud_cce_addon_v3 uses the wrong image URLs"
# Terraform provider version
1.31.5

# Affected Resource(s)
opentelekomcloud_cce_addon_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output
Usual output, the provider is able to communicate with the OTC API as it should

# Steps to Reproduce

1. `terraform apply`

# Expected Behavior
The autoscaler addon pod should get deployed and started.

# Actual Behavior
The pod has an Imag

[2022-10-18 11:25] simonszu commented on #1967
Nevermind, my fault

[2022-10-18 11:25] #1967 closed, assigned to nobody

[2022-10-18 12:25] ambidomo opened #1968 "is there really not a resource or possibility to attach an EIP to a VPC?"
Hi there, first of all: I am somewhat new to terraform.
I'm trying to setup a simple automated VPC deployment which looks as follows, while I'm missing the possibility to automatically attach the EIP to the VPC

# Terraform provider version
- Terraform v1.3.0
- opentelekomcloud/opentelekomcloud v1.31.5

# Affected Resource(s)
- opentelekomcloud_compute_instance_v2
- opentelekomcloud_vpc_v1
- opent

[2022-10-18 13:31] nfelger commented on #1961
Updated the description to clarify: the node pool gets scaled down to its `initial_node_count`. I was using a single variable to set both `initial_node_count` and `min_node_count`, hence the confusion. Still, very undesirable behaviour.

[2022-10-19 12:26] canaykin opened #1969 "Data source for CCE Addons"
# Description of the enhancement
Hi team,

Due to a recent change in addon image repo with CCE 1.23, some addons are no longer available via `"swr_user": "hwofficial"`.

The change is also not consistent where metric server 1.2.1 is available at both `/hwofficial` and at `/cce-addons`, but autoscaler 1.23.6 is only available at `/cce-addons` (whereas older autoscaler versions are only available at

[2022-10-19 12:43] lego963 commented on #1969
@canaykin from my pov, better to update template docs, because template api call response is awfully long
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/devel/opentelekomcloud/services/cce/addon-templates-v1.19.8.md
https://github.com/opentelekomcloud/terraform-provider-opentelekomcloud/blob/devel/opentelekomcloud/services/cce/addon-templates-v1.17.9.md

[2022-10-19 12:52] carhartl opened #1970 "Impossible to attach more than one OBS bucket policy"
When defining more than one bucket policy ressources, they are not additive, but only the last one being applied becomes part of the bucket's permissions.

# Terraform provider version
v1.31.5

# Affected Resource(s)
- opentelekomcloud_obs_bucket
- opentelekomcloud_obs_bucket_policy

# Terraform Configuration Files
[code]

# Steps to Reproduce

1. `terraform apply`

For subsequent applying there a

[2022-10-19 13:18] canaykin commented on #1969
@lego963 That would be an improvement, yes.

But the key problem for us is to keep backwards compatibility in project factory CCE module. We can not support both new and old versions of CCE simultaneously without some hack like checking the CCE version to hardcode multiple values in a lookup.

Similarly, as the number of regions increase, the parameter `swr_addr` also diversifies. A dynamic call w

[2022-10-19 14:43] anton-sidelnikov commented on #1961
Hey @nfelger, if you scale nodes not from ui, but from tf, there is the same behavior? I found that it seems to be the API error, from provider we send only http.update with new numbers and that's all, nothing more.

[2022-10-19 15:22] anton-sidelnikov commented on #1968
@ambidomo eip attach works with specific resources inside vpc, it cannot be assigned to vpc there is no sense in it. You can found here service documentation https://docs.otc.t-systems.com/, most of compute resources can be used with eip and etc.

If you want to attach it to ecs instance:
[code]

[2022-10-19 15:28] #1968 closed, assigned to nobody

[2022-10-19 15:30] anton-sidelnikov commented on #1961
Anyway internal incident was created https://jira.tsi-dev.otc-service.com/browse/CONT-1073

[2022-10-19 19:48] panikgaul commented on #1956
I tested it now with 1.31.6 and unfortunately the problem still here.

My CCE cluster has a bounded floating and cluster IP as EIP and after apply TF will unbind them.

[code]

[2022-10-20 07:50] anton-sidelnikov commented on #1956
@simonszu @panikgaul this fix do not want to be in release, now it was merge error, sorry. Now please look at https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/1.31.6-hotfix.1

[2022-10-20 08:29] artem-lifshits commented on #1951
Hello @netclectic the issue should be fixed in `v1.31.6`, could you please check?
Thank you.

[2022-10-20 09:16] nfelger commented on #1961
Not sure I understand your question. The issue is that if I change `max_node_count` via terraform I get the scale-in problem; if I do it from the UI, I don't get the problem. Does that help?

[2022-10-20 10:55] anton-sidelnikov commented on #1961
@nfelger i just meant if you not change your nodes count on ui while all infra controlled by terraform, in do it inside terraform config, there will be same issue or not

[2022-10-20 11:52] netclectic commented on #1951
Yep, working now.

Thanks!

[2022-10-20 16:55] uli-max commented on #1969
CCE 1.23 today was released in eu-nl.

There the  /hwofficial way is used again ...
swr.eu-nl.otc.t-systems.com/hwofficial/metrics-server:v0.4.4

Handling this over a data-source seems the best in my mind.

[2022-10-20 18:52] panikgaul opened #1972 "Import ability for opentelekomcloud_nat_gateway_v2"
It would be nice to have a import ability for the ressource **opentelekomcloud_nat_gateway_v2**

Currently in 1.31.6 it is not possible.

`│ Error: resource opentelekomcloud_nat_gateway_v2 doesn't support import
`

Thanks!

[2022-10-21 08:32] #1956 closed, assigned to anton-sidelnikov

[2022-10-21 09:16] nfelger commented on #1961
You mean if I only ever use terraform and never touch the UI for the node pool? I can't guarantee it but I only started looking at the UI when we got the terraform problems, so I _think_ it happens even when not using the UI.

[2022-10-24 12:48] pwurbs opened #1974 "Question - When will v1.31.6-hotfix.1 integrated in an official release?"
The bug which is fixed in v1.31.6-hotfix.1, blocks me to deploy changes. I don't want to loose my EIP assignment and I want to change my pipeline to accept the hotfix version.
When can we expect the hotfix in the next official release?

[2022-10-24 12:52] anton-sidelnikov commented on #1974
@pwurbs currently fix in pre-release state you can use it. In next main release it also will be available. Next release 2 nov 2022

[2022-10-24 12:54] pwurbs commented on #1974
Yes, I see. But as I said, I don't want to change my pipeline resp. version policy in TF to use the pre-release state. So, I have to wait for 2.11.
Thx

[2022-10-24 14:09] #1974 closed, assigned to nobody

[2022-10-25 08:56] generalpax opened #1975 "CCE Cluster Version 1.23 does not support autoscaler addon"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_cce_cluster_v3
- opentelekomcloud_cce_addon_v3

# Terraform Configuration Files

module config file:

[code]

main.tf of the module:

[code]

# Debug Output/Panic Output

[code]
# Steps to Reproduce

1. `terraform apply`

# Expected Behavior

Autoscaler NodePool should be created

# Actual Behavior

[code]

# Importan

[2022-10-25 09:01] generalpax opened #1976 "CCE Cluster destroy ends in error"
# Terraform provider version

[code]

# Affected Resource(s)

- opentelekomcloud_cce_cluster_v3

# Terraform Configuration Files
[code]

# Debug Output/Panic Output

# Steps to Reproduce

1. remove cce.tf file
2. `terraform apply`

[code]

# Expected Behavior

Cluster should be deleted

# Actual Behavior

│ Error: error deleting opentelekomcloud CCE Cluster: Action Forbidden, error message: {"kind

[2022-10-25 09:06] anton-sidelnikov commented on #1976
@generalpax you can destroy properly by run: terraform destroy target="module.cce-tos-mgmt-test"

[2022-10-26 09:16] #1951 closed, assigned to artem-lifshits

[2022-10-26 09:16] #1959 closed, assigned to artem-lifshits